[2022-09-05 07:45] shahednasser opened #2147 "Docs: add links in the Shipping Architecture Overview documentation to the entities in the Entities Reference"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

In the [Shipping Architecture Overview](https://docs.medusajs.com/advanced/backend/shipping/overview) documentation, the entities `FulfillmentProvider`, `ShippingProfile`, `ShippingOption`, and `ShippingMethod` are men

[2022-09-05 07:47] shahednasser opened #2148 "Docs: add links in the Payment Architecture Overview documentation to the entities in the Entities Reference"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

In the [Payment Architecture Overview](https://docs.medusajs.com/advanced/backend/payment/overview) documentation, the entities `PaymentProvider`, `PaymentSession`, and `Payment` are mentioned but not linked.

### How

[2022-09-05 07:49] shahednasser opened #2149 "Docs: add links in the Notification Architecture Overview documentation to the entities in the Entities Reference"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

In the [Notification Architecture Overview](https://docs.medusajs.com/advanced/backend/notification/overview) documentation, the entities`NotificationProvider` and `Notification` are mentioned but not linked.

### How

[2022-09-05 16:17] #2117 closed

[2022-09-06 07:21] olivermrbl commented on #1050
@labeneator You should be able to follow our authentication guide [here](https://docs.medusajs.com/api/admin/) 👍

[2022-09-06 18:12] gefgu commented on #2148
Hi @shahednasser! I would be happy to work on this issue.

[2022-09-06 18:13] gefgu commented on #2147
I would love to work on this issue @shahednasser . Can you assign it to me?

[2022-09-06 18:52] Wooody82 commented on #2144
Hi @olivermrbl
Thanks for answer, I think I fixed it already. The code related to Wishlist in /frontend/src/templates/product.js
[code]

[2022-09-07 08:12] olivermrbl commented on #2144
That's great! Thanks for letting me know :)

[2022-09-07 08:12] #2144 closed

[2022-09-07 10:37] shahednasser commented on #2147
Hi @gefgu sure I'll assign you

[2022-09-07 10:37] shahednasser commented on #2148
Hey @gefgu I'll assign you!

[2022-09-07 20:26] Wooody82 commented on #1468
Is this fixed? or.?
I think it need to check any image if its has space and change it to dash.

[2022-09-08 05:45] maxpanakov opened #2165 "the current version of the product model allows one collection per product."
The current version of the product model allows one collection per product. Do you have any plans for a product in multiple collections ?
[code]

_Originally posted by @almousa1990 in https://github.com/medusajs/medusa/issues/1370#issuecomment-1197078787_

[2022-09-08 13:48] MedusaNick opened #2168 "Zoom functionality on Docs pictures"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

It can be difficult to read the text on some of the conceptual pictures in the doc. See e.g. the Fulfillment API section: https://docs.medusajs.com/guides/fulfillment-api/

![image](https://user-images.githubuserconten

[2022-09-09 08:51] #2168 closed

[2022-09-09 09:16] olivermrbl commented on #2165
Thanks for reporting this in @maxpanakov. We do have plans of revisiting the product domain in the near future. I can't promise anything at this point but the issue you've highlighted here is in out backlog 👍

[2022-09-09 09:16] olivermrbl commented on #2068
Closed #2104

[2022-09-09 09:16] #2068 closed

[2022-09-09 09:17] olivermrbl commented on #2038
@RalphSaridar55 Closing this due to inactivity

[2022-09-09 09:17] #2038 closed

[2022-09-09 12:55] #2147 closed

[2022-09-09 13:10] #2148 closed

[2022-09-10 13:21] SounakB commented on #1636
Hi, @srindom I would like to work on this one

[2022-09-10 15:13] LucasCioffi commented on #384
@adrum @klauss194 have you heard any news about multi-tenant functionality on Medusa?  Thanks for raising the question last year.

[2022-09-11 00:06] prabureddy commented on #1636
Raised a PR for this:- #2178

[2022-09-11 05:40] RAY-EZ commented on #2145
I would like to edit to fix the issue. Can you assign it to me.

[2022-09-11 11:30] SounakB commented on #1576
Hi, @srindom I would like to work on this issue

[2022-09-12 04:37] Keith-Hon opened #2181 "Error running yarn install in windows 10"
## Bug report

➤ YN0000: ┌ Link step
➤ YN0001: │ Error: While cloning /C:/Users/keith/Desktop/medusa/packages/medusa/node_modules/string-length/node_modules/strip-ansi -> /C:/Users/keith/Desktop/medusa/packages/medusa-plugin-sendgrid/node_modules/table/node_modules/strip-ansi UNKNOWN: unknown error, link 'C:\Users\keith\Desktop\medusa\packages\medusa\node_modules\string-length\node_modules\strip-a

[2022-09-12 07:12] shahednasser commented on #2145
Sure I've assigned you!

[2022-09-12 07:48] olivermrbl commented on #2181
@Keith-Hon Thanks for reporting it in. Do you have additional logs to share with us? Can't seem to decode much from the one here.

[2022-09-12 19:35] #1636 closed

[2022-09-13 08:07] shahednasser commented on #1910
This PR is open for contributions 🙏🏻

[2022-09-13 10:14] #2145 closed

[2022-09-13 11:56] maxpanakov opened #2195 "prices region in product list"
## Bug report

### Describe the bug

Hey, im trying to get region information in store/products?expand=variants,variants.prices,variants.prices.region, but response  only has  prices in variants, also if  i'm sending this:  expand=variants, i still will get prices in the response

### System information

Medusa version (including plugins):1.38
Node.js version:14
Database:postgres
Operating system:

[2022-09-13 12:16] srindom commented on #2195
Thanks for reporting - this happens because we are collecting the product prices separately from the products as seen here: https://github.com/medusajs/medusa/blob/master/packages/medusa/src/api/routes/store/products/list-products.ts#L223

The PricingService doesn't take the expand param into account so there is no option to collect more data when the prices are fetched this way through.

We can l

[2022-09-13 14:22] sabakhilji commented on #2149
Hi @shahednasser can I do this?

[2022-09-13 14:26] shahednasser commented on #2149
Sorry, @Ravina-Deogadkar I didn't notice your comment. Are you still interested in taking this up?

[2022-09-13 14:30] sabakhilji commented on #2146
Hi @shahednasser Can I fix this issue?

[2022-09-13 14:32] shahednasser commented on #2146
Sure @sabakhilji I'll assign you

[2022-09-13 16:35] algren123 commented on #2019
Happy to take this on if still needed 👍

[2022-09-13 16:39] theabhayprajapati commented on #2181
It worked on windows 11 by the way.
<img width="439" alt="image" src="https://user-images.githubusercontent.com/88815641/189958293-a73efd8c-2dab-4301-a2eb-f1d1dc540d84.png">

[2022-09-13 22:35] Arzamendiaariel commented on #1094
Hi, any progress on this?

[2022-09-14 05:20] maxpanakov commented on #2195
We wanted to get information to display the price without sending a request to create a cart  or to get  a list of regions. But that's not a problem. thanks for the answer

[2022-09-14 08:41] yaariyuval commented on #2055
I'm also interested in localized names and description for products.
Thanks!

[2022-09-16 06:04] schoening commented on #2055
I'm literally unable to use MedusaJS because I need multi language support. If anyone would like to point me in the direction of how I can fix this myself / and or contribute this feature to Medusa I would appreciate it!

I think it's important to have a planned out how this feature is supposed to work rather than implementing it haphazardly.

Could we start a dialogue on this perhaps?

[2022-09-16 06:37] olivermrbl commented on #2055
@markus-gx @Keith-Hon @yaariyuval @schoening Your feedback is highly appreciated. Supporting multiple locales natively in Medusa has been discussed previously but was put on hold as we prioritized other, to us, more impactful features. And really, the same goes for now. We've already planned a tentative roadmap for Q4, and multi-language support is unfortunately not part of it.

Though, one approa

[2022-09-16 08:14] markus-gx commented on #2055
The initial requirement for the feature was for the admin panel. Integrating react-i18n or whatever its called in GatsbyJS. I would have done it myself but unfortunately I am coming from Nuxt/VueJS.

So it should be quite simple to add locale files and a lang-switch in the Admin Panel.
The rest like product translations etc can be easily managed via CMS as @olivermrbl already mentioned.

[2022-09-16 10:38] schoening commented on #2055
@olivermrbl I would like to know how you solved it for your clients. Do they have to maintain both the medusa admin items and a seperate cms where they have translations for the products?

[2022-09-16 14:14] sabakhilji commented on #1910
Hi @shahednasser can I try to fix this issue? I am not a pro in Docker but I will try my best to do it.
Thanks!

[2022-09-16 14:28] shahednasser commented on #1910
Sounds great @sabakhilji I'll assign you

[2022-09-17 13:18] reev-create commented on #1792
Yes, I have an invoice designer of my own as well as invoice parser into PDF. I'll create a branch and update. It would be great if you could send me the code snippets for my better understanding.

[2022-09-17 13:32] SGFGOV commented on #1792
you may want to have a look at https://pspdfkit.com/blog/2019/generate-pdf-invoices-pdfkit-nodejs/

[2022-09-17 13:33] SGFGOV commented on #1792
https://www.npmjs.com/package/pdf-invoice-generator

[2022-09-17 14:02] SGFGOV commented on #1792
https://www.npmjs.com/package/pdf-invoice-generator

[2022-09-20 08:23] maxpanakov opened #2235 "Run medusa-dev -> integration-tests/api"
## Bug report
Can't run medusa-dev command in api filder

### Describe the bug

i can run medusa-dev in the project, but i have a problem with running tests

### System information

Medusa version (including plugins):develop
Node.js version: 14
Database:
Operating system:
Browser (if relevant):

### Screenshots
![image](https://user-images.githubusercontent.com/9987863/191206280-c5662e36-6a01-4c59

[2022-09-20 08:29] maxpanakov commented on #2235
i tried run with --force-install as well, not helped

[2022-09-20 08:38] olivermrbl commented on #2235
Can I get you to try the following command: `medusa-dev --force-install --external-registry`

[2022-09-20 18:09] sabakhilji commented on #1910
Hi, @shahednasser thanks for assigning this task to me. Till now I dockerized the medusa image successfully in a container. Can you please elaborate on what else I need to do to accomplish this task? I observed that some of the issues are already fixed, please let me know what are the requirements to fix this issue.  Please find the image for a dockerized container of medusa.
![Screenshot (9)](htt

[2022-09-21 06:58] shahednasser commented on #1910
Hi @sabakhilji we need to include correct details in the documentation basically. You can refer to [this PR](https://github.com/medusajs/medusa/pull/2023) for an example.

[2022-09-22 12:45] octonawish-akcodes commented on #2149
Can I work on this @shahednasser

[2022-09-22 15:22] shahednasser commented on #2149
Yes @octonawish-akcodes I'll assign you

[2022-09-23 12:13] benhammoush opened #2252 "Update data and metadata fields from PaymentSession and Cart using RESTAPI"
Hi,

I'm using the nextjs create-medusa-app template.

I'm trying to pass datas about orders / payments (strings) from the storefront to the admin panel.
I thought i could use both data and metadata fields from PaymentSession and Cart arrays but i'm unable to update them.

I tried using :

[code]

it returns 400 error (Error: property metadata should not exist)

[code]

it returns 500 error (TypeE

[2022-09-23 14:08] olivermrbl commented on #2252
Thanks for reporting this one @benhammoush!

You are faced with the 500 due to a missing method implementation in our manual payment provider. I've added it in #2254 and will release a new version as soon as it is merged.

In the meantime, you can either use this canary version that I've published `medusa-payment-manual@1.0.17-manual-pay-fix.0` or remove the `medusa-manual-payment` plugin and use

[2022-09-23 17:21] muhamedzeema opened #2256 "blank screen after opening Regions/Custom gift cards [dashboard]"
## Bug report

### Describe the bug

Hey, after installing the medusa server and dashboard. i was tried to add Regions or custom gift card but the screen went to white blank screen and stuck at this.

### System information

Medusa version (including plugins): 1.3.7
Node.js version: v17.1.0
Database: postgress
Browser (if relevant): chrome/safari

### Steps to reproduce the behavior

1. go to sett

[2022-09-25 07:15] reev-create opened #2257 "An Android + iOS admin app just like shopify."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2022-09-25 17:21] olivermrbl commented on #1308
@ScuroGuardiano Curious, what's the use case? Why would you need to fetch an authenticated session using the API key?

[2022-09-26 02:48] #2235 closed

[2022-09-26 09:25] olivermrbl commented on #2256
Thanks for reporting this. I can't seem to reproduce the issue. Can I get you to provide a repro?

[2022-09-26 09:29] olivermrbl commented on #2257
Appreciate the request! Though, we don't have the resources to prioritize this any time soon. You are more than welcome to give it a go 💪

[2022-09-26 09:29] #2257 closed

[2022-09-27 09:02] seanwyndellque commented on #2252
We're also having issues setting the metadata field for cart and getting the same 400 error (Error: property metadata should not exist).

[2022-09-27 09:10] olivermrbl commented on #2252
It is currently not possible to update metadata on carts. I will attend to an update allowing you to do so and include it in an upcoming release.

Until then, you can use the `context` on the cart to store custom attributes.

[code]

[2022-09-27 11:12] shahednasser commented on #1910
Resolved in #2248

[2022-09-27 11:12] #1910 closed

[2022-09-28 06:10] yasir129 opened #2262 "Not able to run on node js 16.17.1 version"
## Bug report

### Describe the bug

A clear and concise description of what the bug is.

### System information

Medusa version (including plugins):
Node.js version: 16.17.1
Database: sqlite
Operating system: windows
Browser (if relevant):

### Problem I am facing
I have cloned the admin panel from giithub and already configured the server on my localhost by using sqlite database but right now, i

[2022-09-28 08:08] srindom commented on #2262
Hi - can I ask you to outline the steps you took and paste the error you are getting in your terminal?

[2022-09-29 18:15] olivermrbl commented on #2256
Solved in this [admin PR](https://github.com/medusajs/admin/pull/711)

[2022-09-29 18:15] #2256 closed

[2022-09-29 18:16] olivermrbl commented on #2181
Closed due to inactivity

[2022-09-29 18:16] #2181 closed

[2022-09-30 10:45] shahednasser opened #2282 "Docs: Add a link to the integrations page in the footer"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

We should add a link to the Integrations page in the footer.

### How can this issue be resolved?

Add a link to [this page](https://medusajs.notion.site/1a0ada9903874e0185d0b8ce0591b359?v=0631285851ba4021aa07c3b48dd48

[2022-09-30 10:47] shahednasser opened #2283 "Docs: Change Introduction label"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

The introduction page only covers the Architecture overview. Therefore, it makes sense to just make it an "Architecture Overview" page

### How can this issue be resolved?

1. Change the label in the sidebar to "Archit

[2022-09-30 10:49] shahednasser opened #2284 "Docs: Remove the "Deploy to Heroku" button from the Quickstart guide"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

Since Heroku removed their free tier and the button + documentation need updating, we should remove the deploy button from the [Quickstart page](https://docs.medusajs.com/quickstart/quick-start).

### How can this issu

[2022-09-30 10:51] shahednasser opened #2285 "Docs: Remove info admonitions (callouts) in "Set up your development environment" documentation"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

The ["Set up your development environment" documentation](https://docs.medusajs.com/tutorial/set-up-your-development-environment) has many admonitions (or callouts) which can be distracting. We should remove the `info`

[2022-09-30 10:53] shahednasser opened #2286 "Docs: remove the "Load from .env" section from the "Configure your Server" doc page"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

The "Load from .env" section in the [Configure your Server documentation](https://docs.medusajs.com/usage/configurations) is no longer relevant now that it is included by default in the starter. We also already have it

[2022-09-30 10:56] shahednasser opened #2287 "Docs: Remove the "Admin Features Overview" section from the Admin Quickstart"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

The "Admin Features Overview" section in the [Admin Quickstart](https://docs.medusajs.com/admin/quickstart) was relevant before the user guide. Now, we can substitute it with a link to the user guide.

### How can this

[2022-09-30 11:02] shahednasser opened #2288 "Docs: Replace "Install the JS Client" section in "How to Add Cart Functionality""
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

To follow a new structure of how-to guides, the "Install JS Client" section in the "[How to Add Cart Functionality" documentation](https://docs.medusajs.com/guides/carts-in-medusa) should be replaced with a section in

[2022-09-30 11:05] #2195 closed

[2022-09-30 11:05] alesbe commented on #2284
Hi! I think that I can solve this, can I take it?

[2022-09-30 11:06] shahednasser opened #2289 "Docs: Remove the Prerequisites section in Create an Entity documentation"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

In the Create an Entity documentation the Prerequisites section is no longer necessary as this is now available by default in the starter

### How can this issue be resolved?

1. Remove the [Prerequisites](https://docs

[2022-09-30 11:10] shahednasser opened #2290 "Docs: Add missing link in MailChimp documentation"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

In the Mailchimp documentation under the [What's Next section](https://docs.medusajs.com/add-plugins/mailchimp#whats-next-), the link to the sendgrid plugin documentation is missing from the first point.

### How can t

[2022-09-30 11:12] shahednasser opened #2291 "Docs: Add Klarna Documentation"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

We need documentation to the [Klarna plugin](https://docs.medusajs.com/add-plugins/klarna). It should be similar to the [Stripe](https://docs.medusajs.com/add-plugins/stripe) and [PayPal](https://docs.medusajs.com/add-

[2022-09-30 11:14] alesbe commented on #2284
I made the PR, let me know if you need anything else :)

[2022-09-30 11:17] shahednasser opened #2293 "Docs: Add Gatsby and React-Based Storefront guide for Algolia plugin."
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

Similar to [this section in the MeiliSearch plugin](https://docs.medusajs.com/add-plugins/meilisearch#add-to-gatsby-and-react-based-storefronts), we should have a section on how to add Algolia search functionality to t

[2022-09-30 12:20] varun7singh commented on #2019
Is this issue still open?

[2022-09-30 12:41] MedusaNick opened #2295 "Hacktoberfest: Participate in the Medusa Hackathon"
## What is it?
For this year's Hacktoberfest, we are launching our very first Hackathon.

Our Medusa Hackathon is open for contributions until **the Oct 23, 11:59 pm CET**.

**Relevant resources:**
- [Participation Guidelines](https://medusajs.com/blog/medusa-hackathon)
- [Submission thread](https://github.com/medusajs/medusa/discussions/2280)
- [Discord for Q&A](https://discord.com/invite/medusaj

[2022-09-30 14:38] Zeesky-code commented on #2286
Hello, I'm interested in working on this issue. Can you please assign me?

[2022-09-30 14:41] Zeesky-code commented on #2289
Hello, I am interested in this issue and I would like to work on this. Can you please assign me to the issue?

[2022-09-30 14:47] Zeesky-code commented on #2283
Hello, I am interested in this issue and I would like to work on this. Can you please assign me to the issue?

[2022-09-30 14:49] vish-han commented on #2288
Hey @shahednasser  I would love to work on this issue and contribute my bit to medusa😊. please assign me.

[2022-09-30 14:50] vish-han commented on #2293
Please Assign me. I would love to work on the issue😊.

[2022-09-30 16:36] MarcosRZ commented on #2287
Hi! I would like to work on this one!

[2022-09-30 16:38] swetha-h commented on #2285
I would like to fix this issue
Can i take it up?

[2022-09-30 16:39] tharun634 commented on #2282
Hello, can I take this up

[2022-09-30 16:50] benhammoush commented on #2252
Using context does the job for me, thanks 👍

[2022-09-30 19:15] edrossy commented on #2262
npm WARN ERESOLVE overriding peer dependency
npm WARN While resolving: react-server-dom-webpack@0.0.0-experimental-c8b778b7f-20220825
npm WARN Found: react@16.14.0
npm WARN node_modules/react
npm WARN   react@"^16.12.0" from the root project
npm WARN   111 more (@hookform/error-message, react-dom, react-hook-form, ...)
npm WARN
npm WARN Could not resolve dependency:
npm WARN peer react@"0.0.0-expe

[2022-09-30 19:29] ayushthe1 commented on #2289
Hey ,I created a pr for this issue . Can you please check it out.

[2022-10-01 02:05] octonawish-akcodes commented on #2291
I want to work on this

[2022-10-01 03:36] Keshraf commented on #2295
Excited! 🙌

[2022-10-01 07:42] octonawish-akcodes commented on #2291
I want to work on this

[2022-10-01 07:43] octonawish-akcodes commented on #2293
Please assign this to me

[2022-10-01 12:45] nik132-eng commented on #2291
I want to work on this issue can you please assign me so that I can start contributing to hacktoberfest.

[2022-10-01 17:15] JohnIrle commented on #2033
Do you have a code sample or codesandbox example?

[2022-10-01 19:21] Rutam21 commented on #2290
@shahednasser Please assign this issue to me. Thanks.

[2022-10-01 20:40] alesbe opened #2306 "Docs: Wrong list order in next.js documentation"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

I've been checking the medusa documentations, and I realized that this list index is wrong, every element is set to 1:

![screenshot](https://i.imgur.com/njyd4wy.png)

[Here is the link](https://docs.medusajs.com/start

[2022-10-02 02:30] Himanxu1 commented on #2295
Yooo

[2022-10-02 07:16] anudeeps0306 commented on #2291
I would like to fix this issue

[2022-10-02 11:34] Chirag8023 commented on #2306
Kindly assign this to me!

[2022-10-02 11:38] alesbe commented on #2306
I made a PR fixing this yesterday! #2308

[2022-10-02 15:12] thelastcoming opened #2314 "Medusa with NODE_ENV="production""
## Bug report

### Describe the bug

Medusa server working as expected when it's in development mode once switching to production users can't login.

### System information

Medusa version (including plugins): 1.3.3
Node.js version: 1.3.3
Database: PostgreSQL or SQlite both have same issue
Operating system: FreeBSD 13.1
Browser (if relevant): Chromium & Firefox

### Steps to reproduce the behavior

[2022-10-02 16:02] daniloff200 commented on #2149
Haven't see any work from @octonawish-akcodes for 10 days, so, I made this one by myself
Could this one be reassigned @shahednasser  ?

[2022-10-02 16:17] adrien2p commented on #2314
When set to production the cookies are secure. It means that you can't use http and you must use https instead. If you deploy your projects they also must not be on a domain which is part of the public suffix list

[2022-10-02 18:44] stefa-n opened #2316 "add published_at column"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Add a column for products: "published_at" like "created_at" and "updated_at"

**Additional context**
"published_at" should be the date at which the product was changed from a draft to being published.

[2022-10-02 19:16] Harsh3363 commented on #2316
I would like to work on this please assign this to me @stefa-n

[2022-10-02 19:36] stefa-n commented on #2316
i don't have write access to the repo, sorry

[2022-10-03 03:39] RachitGarg-12 commented on #2295
Excited!!

[2022-10-03 04:30] RJ025 commented on #2289
I would like to fix this issue

[2022-10-03 06:17] ayushthe1 commented on #2289
Hey @shahednasser . i created a pr fo this issue .Can you please check it and give some feedback.
Thanks

[2022-10-03 07:04] RJ025 commented on #2289
Hey @shahednasser  , I created a pr for this issue .Can you please check it and give some feedback.
Thanks

[2022-10-03 07:17] RJ025 commented on #2284
just made a PR please look into it

[2022-10-03 07:28] shahednasser commented on #2149
Sure @daniloff200 I'll assign you

[2022-10-03 07:29] shahednasser commented on #2283
Sure @Zeesky-code I'll assign you

[2022-10-03 07:29] shahednasser commented on #2284
@alesbe I'll assign you

[2022-10-03 07:30] shahednasser commented on #2285
Sure @swetha-h I'll assign you

[2022-10-03 07:30] shahednasser commented on #2286
Sure @Zeesky-code I'll assign you

[2022-10-03 07:31] shahednasser commented on #2287
Great @MarcosRZ I'll assign you

[2022-10-03 07:31] shahednasser commented on #2288
Sure @vish-han I'll assign you

[2022-10-03 07:32] shahednasser commented on #2289
I'll assign @RJ025 since I've already assign @Zeesky-code to a couple of other issues and @RJ025 is the person that commented after them

[2022-10-03 07:33] shahednasser commented on #2290
@Rutam21 I've assigned you this issue

[2022-10-03 07:33] shahednasser commented on #2291
I've assigned you @octonawish-akcodes

[2022-10-03 07:33] shahednasser commented on #2293
@vish-han I'll assign you

[2022-10-03 07:34] shahednasser commented on #2306
Thanks for catching this @alesbe ! Will review your PR soon.

[2022-10-03 07:44] appledora commented on #2285
@shahednasser I think I already made a pull on this a couple of days ago. Could you check?

[2022-10-03 07:45] appledora commented on #2283
@shahednasser I made a pull on this a couple of days ago :| I saw some people making PRs without assignments, so I though we don't need explicit assignments for this repo :|

[2022-10-03 07:45] #2282 closed

[2022-10-03 08:01] appledora commented on #2288
@shahednasser could you assign me a similar issue?

[2022-10-03 08:04] shahednasser commented on #2288
At the moment there are no issues left @appledora you're free to open an issue if you find issues in the documentation or just be on the lookout if we create a new issue 😊

[2022-10-03 08:43] shahednasser opened #2324 "Docs: Change title of Storefront Quickstart guides"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

The [Gatsby storefront quickstart documentation](https://docs.medusajs.com/starters/gatsby-medusa-starter)'s title can be improved to avoid confusion, especially when multiple tabs are open. The same goes for the [Next

[2022-10-03 08:46] shahednasser opened #2325 "Docs: Add additional step for Gatsby and Next.js storefronts"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

In step 2 of both [Gatsby](https://docs.medusajs.com/starters/gatsby-medusa-starter) and [Next.js](https://docs.medusajs.com/starters/nextjs-medusa-starter) storefront quickstart guides, it is mentioned to "change to t

[2022-10-03 08:47] shahednasser commented on #2324
@appledora would you like to work on this?

[2022-10-03 08:47] shahednasser commented on #2325
@ayushthe1 would you like to work on this?

[2022-10-03 08:50] ayushthe1 commented on #2325
yes ,i will try to contribute on this issue.

[2022-10-03 08:54] ayushthe1 commented on #2325
yes ,i would love to work on this issue,

[2022-10-03 08:55] shahednasser commented on #2325
Cool I assigned you

[2022-10-03 08:55] appledora commented on #2324
Thanks a lot @shahednasser . Please assign me this :D

[2022-10-03 08:56] shahednasser commented on #2324
Cool I assigned you

[2022-10-03 10:12] #2283 closed

[2022-10-03 10:12] #2286 closed

[2022-10-03 10:31] #2149 closed

[2022-10-03 10:38] ayushthe1 commented on #2325
@shahednasser could you please review my pr for this issue.

[2022-10-03 10:41] daniloff200 commented on #2262
I can confirm, that, I had the same for node 16.17.0

[2022-10-03 12:59] treboryx opened #2329 "Stuck when port is already in use"
<img width="898" alt="image" src="https://user-images.githubusercontent.com/5408097/193582503-bef4338d-719f-4de8-802c-59ff863b1622.png">

## Bug report

### Describe the bug

It's stuck at `Creating server` when it has already errored because the port is already in use by another process

### System information

Medusa version (including plugins): latest
Node.js version: 16.17.1
Database: default

[2022-10-03 13:36] #2290 closed

[2022-10-03 14:34] #2284 closed

[2022-10-03 15:52] Nirzak opened #2336 "Images are not showing as host is Geo-Restricted"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

The documantation here https://docs.medusajs.com/troubleshooting/cors-issues/ is using images hosted on imgur.com which is not accessible from my country. As a result the images are not showing.
Country: Bangladesh
Tri

[2022-10-03 17:47] Priyam3955 commented on #2295
Very Excited!!

[2022-10-03 19:36] vardhan0604 commented on #2324
hey @appledora  are you working on it?

[2022-10-04 03:15] thelastcoming commented on #2314
Hi,
I am getting this error in production mode
![image](https://user-images.githubusercontent.com/111051475/193726506-2c442325-d899-4398-835e-371a98cee656.png)
But in the mean time when I switch to development mode it works fine

[2022-10-04 07:32] #2325 closed

[2022-10-04 08:09] RJ025 commented on #2287
hey , @MarcosRZ  are you working on this issue

[2022-10-04 08:14] #2289 closed

[2022-10-04 08:19] rajivharlalka commented on #2329
I would like to work on this. Can you assign it to me?

[2022-10-04 08:19] MarcosRZ commented on #2287
@RJ025 Yes, I am.

[2022-10-04 08:48] #2252 closed

[2022-10-04 09:23] AudreyLin opened #2339 "Video Tutorials: Use Case Implementations & Demos"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

Developers are requesting video tutorials for feature implementations, use case examples, and different deployment implementations.  This is a newer platform, but even with its good documentation coverage, there are still questions about how to use and implement some of the f

[2022-10-04 10:08] AudreyLin commented on #2339
Also, the community can leave a thread here of the types of tutorials that they want to see and/or what to contribute.

[2022-10-04 10:18] shahednasser commented on #2339
Hello! Thank you for submitting this issue.

Regarding blog posts, we actually have a [writer's program that you can join](https://medusajs.notion.site/Write-for-us-74a2bf43b4ce43eeba200382f599321a). You can then choose a topic to work on it for our blog and publications.

As for videos we currently don't have any video platform or related content production. We would appreciate though any video c

[2022-10-04 12:02] daniloff200 commented on #2336
I know, that imgur also banned in Turkey, for example

[2022-10-04 14:28] #2287 closed

[2022-10-04 18:39] a-finocchiaro opened #2350 "Improperly referenced product id when parsing CSV for bulk product update via import strategy"
## Bug report

### Describe the bug

In the `ProductImportStrategy` class, the `getImportInstructions` improperly checks the `product.id` for each row. Please see the code snippets section for the exact line.

With it setup this way, products will always be considered new because the `product.id` column is not read here. So products will never be updated.

### Expected behavior

I would expect thi

[2022-10-04 19:56] ayushthe1 commented on #2350
Hey ,I would like to work on this issue .

[2022-10-04 20:53] a-finocchiaro commented on #2350
Go for it! I have actually already fixed it in another project where I'm actually using medusa, I just haven't done the same on my forked version of it but if you'd like to fix it, you're more than welcome.

[2022-10-05 07:01] ayushthe1 commented on #2350
Thanks @a-finocchiaro .
I made a pr for this issue . Could you please review it.

[2022-10-05 07:33] shlok2740 opened #2354 "Docs: Change the font size of the options of sidebar"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

The font size of the sidebar is too small

### How can this issue be resolved?

1. Increase the size of the option in the sidebar
2.
3.
...

### Are you interested in working on this issue?

- [X] I would like to fix t

[2022-10-05 08:40] #2324 closed

[2022-10-05 08:59] #2306 closed

[2022-10-05 08:59] shahednasser commented on #2285
@swetha-h are you still working on this?

[2022-10-05 09:00] shahednasser commented on #2288
@vish-han are you still working on this?

[2022-10-05 09:08] swetha-h commented on #2285
I was unable to do it. You can assign this task to someone else

[2022-10-05 09:32] appledora commented on #2285
@shahednasser can you assign me? I have done it before.

[2022-10-05 20:14] arjunlubana commented on #2354
Can you assign this issue to me?

[2022-10-06 02:22] shikhar13012001 commented on #2336
I would like to work on this issue. Can you please assign this to me? @Nirzak

[2022-10-06 07:12] shahednasser commented on #2354
Thank you for submitting this issue. As this is something related to design, I'll relay your opinion to our design and docs team.

[2022-10-06 07:13] shahednasser commented on #2336
Thank you for opening this issue. We'll have to look into different options and probably resolve this with other hosting providers, so we'd have to fix it ourselves. Thank you for everyone interested in contributing!

[2022-10-06 08:46] nicolama-dev opened #2367 "Error: Method not implemented when exporting products"
## Bug report

`{"level":"warn","message":"An error occurred while processing batch.confirmed: Error: Method not implemented.","timestamp":"2022-10-06 08:32:31"}
Error: Method not implemented.
     at _callee2$ (/app/node_modules/medusa-file-s3/services/s3.js:156:23)
     at tryCatch (/app/node_modules/@babel/runtime/helpers/regeneratorRuntime.js:86:17)
     at Generator._invoke (/app/node_modules

[2022-10-06 12:23] Nirzak commented on #2336
Ok @shahednasser but my suggestion is that github can be a good solution with free of cost. Thanks!

[2022-10-06 12:53] shahednasser opened #2371 "Docs: fix long title in user guide"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

The title for the [Manage Products in Sales Channels user guide](https://docs.medusajs.com/user-guide/sales-channels/products) in the sidebar is longer than the character limit (25 characters). It should be shortened t

[2022-10-06 13:20] shahednasser commented on #2371
Sure I assigned you @ashishlamsal

[2022-10-06 15:26] abhilipsasahoo03 opened #2375 "Add CODE_OF_CONDUCT.md file"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

A code of conduct defines standards for how to engage in a community. It signals an inclusive environment that respects all contributions. It also outlines procedures for addressing problems between members of your pro

[2022-10-06 15:28] abhilipsasahoo03 commented on #2375
@shahednasser can I work on this issue?

[2022-10-06 18:26] karthiksenthil2803 commented on #2295
Hello,
Can I create an web application using medusa api and will it be accepted by you for hacktober 2022 ?
Thank You

[2022-10-06 18:40] karthiksenthil2803 commented on #2295
Also, I had'nt pre-registered for the hackathon as I came to know about it a bit late. So will my (submission if done) still count for the swags and the certificate ?

[2022-10-07 04:34] harshmangalam opened #2378 "Lists products having q params throw error in console"
## Bug report

### Describe the bug

When i make a curl request to get lists of product having q search params it throw out error

[code]

[code]

### System information
Medusa CLI version: 1.3.3
Node.js version:v16.17.0
Database:Sqlite
Operating system:Linux mint (20)
Browser (if relevant):

![medusa-err](https://user-images.githubusercontent.com/57381638/194468207-590ad966-4684-4f1d-8de9-06be9a7

[2022-10-07 07:21] #2371 closed

[2022-10-07 08:41] olivermrbl commented on #2378
@harshmangalam You can't use search with SQLite as it does not support the `ILIKE` operator. Switching database to Postgres should resolve your issue.

[2022-10-07 08:41] #2378 closed

[2022-10-07 08:53] rsarthak commented on #2295
Excited!!!

[2022-10-07 09:47] olivermrbl commented on #2350
Solved #2351

Again, thanks for the contribution. To show our appreciation, we'd love to send you some swag/merch. If that's of interest reach out to me on our Discord and we'll make it happen! 💪

[2022-10-07 09:47] #2350 closed

[2022-10-07 09:49] olivermrbl commented on #2329
You can start the server on a different port by passing it as an argument to our CLI: `yarn start --port=9001`

[2022-10-07 09:49] #2329 closed

[2022-10-07 09:55] treboryx commented on #2329
I know I can use the port argument. I filed this issue because I thought it should behave differently, like everything else.

[2022-10-07 17:04] MyWay commented on #1399
Same problem here.

[2022-10-08 02:44] SattyamSamania commented on #2354
Hey, If the issue is still open I would love to work on this issue. Please assign it to me.

[2022-10-08 04:35] tabilzad opened #2385 "Kubernetes Helm Support"
It'd be nice if there was a helm chart to deploy medusa components on Kubernetes

[2022-10-08 09:46] sandeepscet opened #2386 "Transaction is not started yet, start transaction before committing or rolling it back."
## Bug report
When front store user submits the Order , getting below log.
Order never gets process after multiple admin attempts.

[code]

### Describe the bug
Tried reinstalling all the components.

### System information

Medusa version (including plugins):  1.3.3
Node.js version: v16.14.2
Database: Default
Operating system: Windows 10
Browser (if relevant): Chrome Latest

### Steps to reproduc

[2022-10-08 14:27] Gulshanaggarwal opened #2388 "npx create-medusa-app not able to setup medusa locally"
## Bug report

### Describe the bug

npx create-medusa-app not able to setup the medusa in local env.

### System information

Medusa version (including plugins):
Node.js version: 16.13.2
Database:
Operating system: Windows
Browser (if relevant):

### Steps to reproduce the behavior

1. Go to 'Command line'
2. Write  'npx create-medusa-app'
3. Choose 'medusa-default-starter'
4. Then select 'Gatsby

[2022-10-08 16:11] olivermrbl commented on #2386
We've fixed a bunch of issues related to transaction management in `v1.4.*`. Can I get you to update and retr?

[2022-10-08 16:12] olivermrbl commented on #2385
We'd love to accept a PR for that if you are up for it?

[2022-10-08 22:53] R3D2 commented on #2314
I have the same issue.

[2022-10-09 20:39] artkaas opened #2390 "Shopping as anonymous user not possible with Stripe payment provider"
## Bug report

[code]

### Describe the bug

Can not place transactions as anonymous (not logged-in) users with 'nextjs-starter-medusa' frontend and 'medusa-payment-stripe' provider.
It works fine when using 'medusa-payment-manual' provider.

### System information

Medusa version (including plugins): medusa (1.3.7), medusa-payment-stripe (1.1.43), nextjs-starter-medusa (latest)
Node.js version: v

[2022-10-10 08:56] shahednasser opened #2393 "Docs: Add Zoom functionality on images using docusaurus-plugin-image-zoom plugin"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

We want to add the ability to zoom into images. We can use the docusaurus plugin [docusaurus-plugin-image-zoom plugin](https://gabrielcsapo.github.io/docusaurus-plugin-image-zoom/docs/getting-started/) to do that.

###

[2022-10-10 09:01] sandeepscet commented on #2386
I  can see 1.3.3 on npm. How can I point to 1.4.1 and install it?

[2022-10-10 10:14] shahednasser commented on #2393
Sure @aniketh-varma I'll assign you

[2022-10-10 10:42] remy opened #2395 "`medusa user` throws exception "TypeError: cmd is not a function""
## Bug report

### Describe the bug

Newly installed medusa command line tool. Non-seeded server, am trying to create a new user to access via the admin interface.

<details>
<summary><strong><code>medusa --json --verbose user</code></strong></summary>

<pre><code>medusa user

Create a user

Options:
  --verbose                Turn on verbose output
                                          [boole

[2022-10-10 11:40] olivermrbl commented on #2386
`yarn add @medusajs/medusa@1.4.1` should do the job 👍

[2022-10-10 12:52] sandeepscet commented on #2386
Installed 1.4.1 using npm , but issue didn't resolve.

Strange Patch m using.
On the new storefront user login, I am getting 404 for cart API.
Manually replacing regionid in local storage (key : medusa_region) from response of http://localhost:9000/store/regions

Possibly related

[2022-10-10 16:48] #2285 closed

[2022-10-10 16:48] shahednasser commented on #2293
@vish-han are you still working on this?

[2022-10-10 16:49] shahednasser commented on #2291
@octonawish-akcodes are you working on this?

[2022-10-10 16:49] shahednasser commented on #2288
Since I got no answer from @vish-han I'll assign you @appledora

[2022-10-11 08:14] SGFGOV commented on #1792
you may want to look t this too

 https://pspdfkit.com/blog/2019/generate-pdf-invoices-pdfkit-nodejs/

Best Regards
Govind

On Sat, 17 Sep 2022, 18:48 reev create, ***@***.***> wrote:

--

This message (including any attachments) may contain confidential,
proprietary, privileged and/or private
information. The information is
intended to be for the use of the individual or entity designated above.

[2022-10-11 09:20] rhijjawi commented on #1651
I can confirm that fakeredis is enabled on my instance of medusa.

On Wed, Jun 22, 2022, 05:38 Sebastian Rindom ***@***.***>
wrote:

[2022-10-11 09:21] sabakhilji commented on #2019
Hi, @Varun Singh this issue has been resolved thanks!

On Fri, Sep 30, 2022 at 8:20 AM Varun Singh ***@***.***>
wrote:

[2022-10-11 17:47] DorianMazur commented on #2329
I think this should be reopened.
@olivermrbl
We can check if the port is available and display proper error message instead of infinite loading.

[code]

[2022-10-11 19:32] artkaas commented on #2390
I've decided to upgrade to the newest, just released version of medusa 1.5.0 and medusa-payment-stripe plugin 1.1.44, to see if that fixes the issue.

And now I can successfully pass 'Continue to Delivery' step of the Checkout wizard. But when clicking 'Checkout' button to finish payment I am getting this error:

[code]

[2022-10-12 07:38] olivermrbl commented on #2395
I can't seem to reproduce the issue with the latest CLI version. Can I get you to try to run `npm install -g @medusajs/medusa@latest` and run `medusa user ... ` again?

[2022-10-12 08:31] olivermrbl commented on #2390
@artkaas This error is thrown when your cart already has a payment meaning it is likely to have been completed before. Can I get you to clear cache in your browser and try again?

[2022-10-12 09:23] shahednasser opened #2422 "Docs: Fix missing import in "How to Add Cart Functionality" MDX file"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

In the [How to Add Cart Functionality MDX file](https://github.com/medusajs/medusa/tree/master/docs/content/guides) there's a missing import for the `Tabs` and `TabItem` components. This makes the tabs not visible in t

[2022-10-12 09:31] shahednasser opened #2423 "Docs: Add missing tabs in Create a Batch Job Strategy"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

In the Create a Batch Job Strategy documentation, tabs that should separate the different methods of sending a request (JS Client, Fetch API, and cURL), are missing.

### How can this issue be resolved?

1. Add in the

[2022-10-12 09:36] najeebkp commented on #2423
Hi @shahednasser please assign me this task

[2022-10-12 09:37] shahednasser commented on #2291
I'm unassigning @octonawish-akcodes due to inactivity

[2022-10-12 09:38] shahednasser commented on #2293
I'm unassigning @vish-han due to inactivity

[2022-10-12 10:14] Zeesky-code commented on #2422
Hello, I would like to work on this issue.
Can I please be assigned?

[2022-10-12 10:54] akarsh-jain-790 commented on #2423
Hey, I would like to work on this issue.

[2022-10-12 10:58] Zeesky-code commented on #2423
Hello, I would like to work on this issue? I have already opened a pr
Can I please be assigned?

[2022-10-12 11:38] shahednasser commented on #2423
Assigned @akarsh-jain-790 for commenting first 😊

[2022-10-12 12:55] benhammoush opened #2429 "Get cart from order using Admin API"
Hi,

In the Admin REST API reference i see we can return the cart object of an order using :

`import Medusa from "@medusajs/medusa-js"
const medusa = new Medusa({ baseUrl: MEDUSA_BACKEND_URL, maxRetries: 3 })
medusa.admin.orders.retrieve(order_id)
.then(({ order }) => {
  console.log(order);
});`

![image](https://user-images.githubusercontent.com/45472564/195346855-83d9a529-a9aa-4676-924a-817ab4

[2022-10-12 14:40] kasperkristensen commented on #2429
Hi @benhammoush

It's not a bug, but you need to tell Medusa that you want to load the relation `cart`. You do so like this:

[code]

This was added recently so make sure that you are using the latest version of `@medusajs/medusa-js`

Closing this for now, but let us know if you need further assistance 😄

[2022-10-12 14:42] soundarrajan-official commented on #2422
I am interested to solve this issue, so can you assign me for this issue ?

[2022-10-12 15:06] appledora commented on #2288
@shahednasser could you double check that the issue hasn't already been resolved and merged? :|

[2022-10-12 21:59] Line255Bug commented on #2429
is this an active issue?

[2022-10-13 02:57] ShravaniAK opened #2431 "add hover effect to the social icons."
<img width="1440" alt="Screenshot 2022-10-13 at 8 26 36 AM" src="https://user-images.githubusercontent.com/97099574/195488640-f6e4075b-193e-44c5-a25b-c0d738265cb0.png">

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Descri

[2022-10-13 03:02] ShravaniAK commented on #2431
please assign me this issue

[2022-10-13 03:44] Smartmind12 commented on #2291
@shahednasser Can you assign this issue to me so that i can work on it!

[2022-10-13 04:06] Smartmind12 opened #2432 "Redirection Error API Reference"
## Bug report

### Describe the bug

Redirection error of "API Reference" in the footer of the MedusaJS Homepage.

### Steps to reproduce the behavior

1. Go to '[Medusa Home Page](https://medusajs.com/)'
2. Scroll down to the footer
3. Click on 'API References' under 'Developer' Section
4. See error

### Expected behavior

The expected behaviour here is that the redirect takes the user on the cor

[2022-10-13 06:56] shahednasser commented on #2432
Thank you for reporting this! Unfortunately, I can't assign this issue to you because it needs to be fixed on our website, which is not accessible through this repo. This issue has been fixed now and we appreciate you reporting it!

[2022-10-13 06:56] #2432 closed

[2022-10-13 07:07] #2288 closed

[2022-10-13 07:07] shahednasser commented on #2291
Sure I've assigned you @Smartmind12

[2022-10-13 07:19] paulpravosud opened #2435 "Tax "Region" inside the country is currently not supported (e.g. Spain - Peninsula, Baleares, etc.)"
Hi guys, we are struggling with adding the Spain. It has several regions/areas like Penninsula, Baleares, Catalonia, where they have different tax rates. Current Taxation rules do not allow to add "Regions" with specific tax rules inside one country.

There are also such regions in other EU countries, so generally it is a must-have for a EU Merchant who sells to/in more than one country. I kindly

[2022-10-13 08:26] paulpravosud commented on #2435
hi @srindom thanks a lot for a solution. Obviously it could be only a temporary solution. I hope you can put this feature in your backlog and have it done in a solid way)  In the meantime, we shall try to follow your suggestion and implement it as a temporary workaround. Thanks a lot for swift reply!
Rgds, Paul.

[2022-10-13 08:28] kasperkristensen commented on #2395
@remy Make sure that you are running the command from within your server directory. `cd my-medusa-server && medusa user -e remy@example.com -p mypassword`

[2022-10-13 08:47] kasperkristensen commented on #2429
@benhammoush I'll have to take my previous comment back. We actually don't allow expanding the cart relation on orders atm. We could easily add it, by adding `"cart"` to this array: https://github.com/medusajs/medusa/blob/4013c0c5da5952749eb109288b55fa7eec1f0537/packages/medusa/src/api/routes/admin/orders/index.ts#L344-L362

But what is your specific use case for this, all data that is part of the

[2022-10-13 09:04] neelshah2409 commented on #2293
May I take this isssue @shahednasser

[2022-10-13 09:08] remy commented on #2395
@kasperkristensen that was it! Because `medusa` was a globally installed command, I didn't realise I needed to be in that directory (I guess it makes sense thinking about it, since it's got to connect to the right db, etc).

Thanks!

[2022-10-13 09:08] #2395 closed

[2022-10-13 09:10] srindom commented on #2435
For sure - we will have a more native way to do this in the future :)

Let me know how it goes and feel free to ask additional questions here

[2022-10-13 09:29] benhammoush commented on #2429
Hi, i want to get the context column of the cart table.
Does adding cart to the array as you shown will work ?

Thanks

[2022-10-13 09:59] #2422 closed

[2022-10-13 10:00] shahednasser commented on #2293
Sure @neelshah2409 I'll assign you

[2022-10-13 10:46] benhammoush commented on #2429
Adding "cart" to both allowedAdminOrdersRelations  & defaultAdminOrdersRelations does the trick.

Closing.

Thanks for your time.

[2022-10-13 10:46] #2429 closed

[2022-10-13 11:57] ludovicjamet commented on #1184
Did you guys start the dev of this plugin? We're going to start something, I would be glad to share our work.

[2022-10-13 12:09] klauss194 commented on #1184
Yes we did start.
Let's get in contact to share the scope together.

We can cut some time together

On Thu, 13 Oct 2022 at 12:57, Ludovic ***@***.***> wrote:

--
[image: photo]
*A Klauss*
Software Developer
(+44) 775445 8495 <(+44)%20775445%208495> | ***@***.*** |
http://klauss.co.uk
<http://facebook.com/aandreiklauss>
<http://uk.linkedin.com/in/klauss-andrei-a33894100>
<http://stackoverflow.com/u

[2022-10-13 12:20] #2423 closed

[2022-10-13 20:33] AnshulAngaria commented on #386
Hi @olivermrbl , @srindom , I would like to work on this if this is still open.

[2022-10-13 21:11] kasperkristensen commented on #2033
I'm going to go ahead and close this. I've tested it several times and we will soon be releasing an update to the admin dashboard where we use "custom" queries, and it does not result in such errors. If you are still experiencing this error then feel free to re-open the issue and provide a reproducible repo 🙂

[2022-10-13 21:11] #2033 closed

[2022-10-14 10:12] kaushalyap commented on #2090
Can anyone share what `medusa-plugin-discount-generator` plugin does at high level?

[2022-10-14 11:26] Smartmind12 commented on #2291
Thankss i will get on it !!

[2022-10-14 11:47] kaushalyap opened #2445 "SQLite support for restock notification plugin"
**Is your feature request related to a problem? Please describe.**

Currently, [restock notification plugin](https://github.com/medusajs/medusa/tree/master/packages/medusa-plugin-restock-notification) is not supported with sqlite due to unsupported data types (`jsonb`)

**Describe the solution you'd like**

Support restock notification plugin with sqlite

**Describe alternatives you've considered*

[2022-10-14 12:40] NolimitL commented on #908
Hi! @adrien2p I tried you advice but it doesn't work for me. I still have the same error.

[code]
Could you please explain what can be the cause of this?

[2022-10-14 13:31] FeatureSpitter opened #2447 "Impossible to build medusajs"
When you checkout this repo, and run `npm i` you get the following error:

[code]

I am using node 16 and npm 8.

It seems other users are finding this issue, with the official Dockerfile as well: https://stackoverflow.com/questions/73518758/npm-error-while-generating-docker-image-for-medusajs

[2022-10-14 14:25] patrikkarlsson commented on #2447
@FeatureSpitter use yarn instead, that should work for you.

[2022-10-14 14:42] #2447 closed

[2022-10-14 16:51] akarsh-jain-790 commented on #2293
@neelshah2409 are you still working? If not @shahednasser can you assign me this issue?

[2022-10-14 17:44] neelshah2409 commented on #2293
Yes I am working just give me some time !!

[2022-10-14 22:12] Dynomin commented on #2295
Taking part in it with my team !

[2022-10-15 19:00] Edybee commented on #2295
Hi, what is the hackathon about? Can one participate via documentation?

[2022-10-15 19:09] Edybee commented on #2090
Hi, I can only create documentation on Medusa plugins, but I can't expose them via admin UI. Should I still proceed with the issue?

[2022-10-16 16:24] olivermrbl commented on #2445
I am adding the `wont fix` label and closing as SQLite should not be used in a production environment, so adding the support in this plugin is not a good waste of time.

However, we will accept a PR if you want to work on it 💪

[2022-10-16 16:24] #2445 closed

[2022-10-16 16:40] MedusaNick commented on #2295
You can find more info and sign-up for it via https://medusajs.com/blog/medusa-hackathon

But no, the Hackathon is different than solving Docs issues

[2022-10-16 19:09] DukeManh opened #2450 "Error when only selecting total fields in order service"
## Bug report

### Describe the bug

When only selecting total fields in order service, the select query after transformation will be an empty array and therefore the total fields are not removed from the select.

This gives `TypeORMError: paid_total column was not found in the Order entity`
[code]
but this works
[code]

### Expected behaviour

It should allow selecting only total fields

[2022-10-16 19:46] dwene opened #2451 "Complete checkout with tax plugin seems very unperformant"
## Bug report

I recently installed @adrien2p 's Sentry plugin, which has been super helpful. But it's showing me some seemingly unperformant parts about Medusa's complete checkout flow, particularly around calculating taxes.

I'm using a custom plugin to calculate taxes using the ziptax API. In the plugin, we cache a tax_rate in the database with address as the lookup key.

When I watch the trace

[2022-10-17 06:18] sebabratakundu opened #2453 "Incorrect Spelling of word medusa in package.json of paypal and stripe plugin"
## Bug report
The word medusa in description `package.json` file of `payment-stripe` and `payment-paypal` is incorrect.

### System information

Medusa version (including plugins): 1.5.0
Node.js version: 16
Database: PG
Operating system: Window
Browser (if relevant):

### Screenshots
![image](https://user-images.githubusercontent.com/44576979/196102129-75fea499-c9f0-4e97-b994-3dda00159539.png)

[2022-10-17 06:51] adrien2p commented on #2451
@dwene I ll create a ticket internally and try to investigate that, If I have or need anything i ll contact you

[2022-10-17 11:13] waveywaves opened #2455 "Investigate increasing developer productivity with pull requests environments"
I would like to make life easier for existing and new Medusa contributors including maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) previews.
Disclaimer: I work on Uffizzi
Uffizzi is a Open Source full stack previews engine and is free for Medusa. This will provide newcomers with previews of their PRs in the cloud, allowing them iterate faster, without having to firs

[2022-10-17 13:21] kaushalyap commented on #2445
@olivermrbl I do not agree that every case need Postgres, SQLite would do fine for small stores, complex, operational overhead of PG is unnecessary for such cases. SQLite would even do fine for 1M visitors/mo. I would suggest you to read this [article](https://fly.io/blog/all-in-on-sqlite-litestream/) from Ben. Cloudflare is [also using SQLite for their D1 SQL database](https://blog.cloudflare.com

[2022-10-17 18:02] a-finocchiaro opened #2461 "Stale cron jobs not being cleared from Bull queue"
I have been trying to setup a cron job in my medusa instance following the docs provided in the [How To Create a Cron Job](https://docs.medusajs.com/advanced/backend/cron-jobs/create/) section of the medusa docs.

I was able to set the cron job up, however I ran into an issue with the queue if I ever attempt to modify the cron schedule.

## Bug report

### Describe the bug

If a cron job is create

[2022-10-18 15:16] akarsh-jain-790 commented on #2291
@shahednasser can you assign me this issue?

[2022-10-18 19:58] juansoler opened #2462 "[CORE-900] [Bug] Importing products with a category does not associate them with that category."
## Bug report

### Describe the bug

A clear and concise description of what the bug is.

### System information

Medusa version (including plugins): 1.5.0
Node.js version:  14.20.1
Database: PostgreSQL
Operating system: Ubuntu 22.04
Browser (if relevant):

### Steps to reproduce the behavior

1. Import products using Medusa Admin
2. Upload csv file click on import
3. After upload the products, th

[2022-10-19 07:52] rrums123 opened #2465 "Performance improvement on Cart"
Hey,

I found that on cart endpoints maybe need some performance improvement.

In my local test to create cart (`POST /store/carts`) with the payload:
[code]

Cart contains 1 item took 934 ms
Cart contains 2 items took 1278 ms
Cart contains 3 items took 1546 ms
Cart contains 9 items took 8388 ms

### System information

Medusa version (including plugins): 1.5.0
Node.js version: 14.20.1
Database: P

[2022-10-19 08:31] paulpravosud opened #2466 "UI templates and themes"
Hi guys! Thank you for the great product!
Can I ask you whether there are available themes and templates for the storefront like on templateforest.com or similar, where you can easily add them to Medusa store? If not, what are the current options in terms of designing a shop? Are there any frameworks or else that are compatible? And which ones that you would recommend to be the easiest to use? Tha

[2022-10-19 09:54] srindom commented on #2465
@rrums123 - thanks for reporting; seems there is a bottleneck when getting the correct prices for the line item. We will investigate further and try to make some optimizations in an upcoming release

[2022-10-19 11:07] kasperkristensen commented on #2466
Hi @paulpravosud,

We have a couple of starters here on our GitHub that you can use to get started. Medusa is headless by design, and there are no themes or templates (the starters are just meant as a starting point), we leave the storefront implementation up to you.

You can create a storefront with whatever framework you prefer. The starters we have are written in Next.JS and Gatsby, so it might

[2022-10-19 14:06] cf1331 commented on #2181
For anyone having this issue, try changing `nmMode: hardlinks-global` to `nmMode: hardlinks-local` in [.yarnrc.yml](https://github.com/medusajs/medusa/blob/479ae1e257bb51a3ad1951a47ce76dc726a73fb1/.yarnrc.yml) and running `yarn install`. If that doesn't work, try `nmMode: classic`.

### Details

I ran into the same issue, although for me it was happening on a different package:
[code]

In #2447, @

[2022-10-19 23:42] harshajayaweeraXHJ opened #2474 "Can we show customer based pricing"
Can we show different pricing for each customer based on their login. Customer based pricing?

[2022-10-20 06:48] r1cs1 opened #2476 "Gatsby source plugin populating wrong offset value"
## Bug report

### Describe the bug

Gatsby source plugin sets wrong offset value when populating data from medusa. It gets stack at querying the second page for products and collections.

### System information

Gatsby-source-medusa version: 0.1.1

### Steps to reproduce the behavior

1. Create more then 20 collections or more than 200 products
2. Run the gatsby starter storefront
3. You will see

[2022-10-20 06:55] r1cs1 commented on #2476
PR for the issue #2477

[2022-10-20 10:49] paulpravosud commented on #2466
hi @kasperkristensen thanks a lot for help! Do you have your personal opinion on which of those to opt for at the first place (easiest)? Thanks a lot!

[2022-10-20 11:36] kasperkristensen commented on #2466
@paulpravosud I would properly go with something like Next, there's is a very large community around the framework, and lot's of articles, blogs, and videos that you can use as inspiration and guidance, while you are working on your first storefront 😄

[2022-10-20 11:36] #2466 closed

[2022-10-20 11:36] adrien2p commented on #2450
will be part of the next release 🚀

[2022-10-20 11:36] #2450 closed

[2022-10-20 12:21] paulpravosud commented on #2466
thanks a lot @kasperkristensen for valuable feedback on this!

[2022-10-20 18:14] impactcolor commented on #446
I'm getting CORS errors with everything set as indicated on the starter example:
`// CORS when consuming Medusa from admin
const ADMIN_CORS = process.env.ADMIN_CORS || "http://localhost:7000,http://localhost:7001";

// CORS to avoid issues when consuming Medusa from a client
const STORE_CORS = process.env.STORE_CORS || "http://localhost:8000";`
I can confirm both are running on those ports.  The e

[2022-10-20 20:38] impactcolor commented on #446
I've even tried streaming port 8000 through ngronk
Access to XMLHttpRequest at 'http://localhost:9000/store/carts' from origin 'https://4321-172-114-11-112.ngrok.io/' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
while changing it in the .env file

[2022-10-20 21:57] joeyjurjens commented on #2474
You can create a price list, I think this is what you mean.
Pricelists can configure price overrides for certain customer groups.

See demo on pricelist: https://demo.medusajs.com/a/pricing?offset=0&limit=15
See demo on customer groups: https://demo.medusajs.com/a/customers/groups?limit=15&offset=0

[2022-10-21 04:45] maxpanakov opened #2485 "CORS"
## Bug report

### Describe the bug

the problem with cors headers, I have medusa, which is in development mode, and an admin panel in the same domain, but for some reason, when the admin panel sends a request for "OPTIONS", access-control-allow-origin is not included in the response. I fixed this by setting the header inside the nginx configuration. I also have a store website on netlife, and it

[2022-10-21 17:16] chiubaca opened #2486 "[CORE-983] Custom plugin API endpoints dont work when using `peerDependancies` as recommended by the docs"
## Bug report

### Describe the bug

custom plugin API endpoints dont work when using `peerDependancies` as recommended by the [docs](https://docs.medusajs.com/advanced/backend/plugins/create#change-dependencies).

[code]

If your package.json is setup like this, your custom endpoints are not picked up by Medusa server.

### System information

Medusa version (including plugins): "^1.5.0"
Node.js

[2022-10-21 17:30] chiubaca commented on #2486
I think related to https://github.com/medusajs/medusa/pull/1860

[2022-10-22 00:07] impactcolor commented on #446
after further inspection this ONLY happens on this request.  localhost:9000/products loads what would be the cause of this?

[2022-10-22 08:49] ymaheshwari1 opened #2488 "Typo for unique keyword"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

There is a typo for `unique` work in the docs

### How can this issue be resolved?

1. Change `unqiue` to `unique`

### Are you interested in working on this issue?

- [X] I would like to fix this issue

[2022-10-22 20:12] xoxocrystyle commented on #2375
Hey there, may I work on this issue if it hasn't been assigned to anyone yet?

[2022-10-22 20:39] abhilipsasahoo03 commented on #2375
I guess there's already a PR open for this. Not sure if it's under review or not.

[2022-10-23 09:11] anup-a commented on #2486
I'm facing a similar issue with my custom plugin. It appears that my endpoints are not registering.

I have tried with `medusa new project` . Interestingly, none of the existing plugins (which register new endpoints) seems to work for me.

[2022-10-23 18:06] chiubaca commented on #2034
Running into this right now... Is there a workaround in the meantime?

[2022-10-23 23:44] websupergirl commented on #1829
@dravasp I'd like to know how you solved it as well as you how you restarted the server. I have it set up as per the instructions for DO deployment and I can't find a way to stop the server and start again with the medusa cli.

[2022-10-24 00:02] websupergirl commented on #1829
I found it was a CORS admin issue, there was a trailing slash and it took another 3-4 doc pages before I found that info about how the urls should be in those options on DO.

[2022-10-24 12:01] #2485 closed

[2022-10-24 23:58] impactcolor opened #2493 "store-context error in medusa gatsby starter"
In storefront/src/context/store-context.js line 70 calls for:
cartId = localStorage.getItem("cart_id")
cart_id does not exist in the local storage instead it is:
cartId = localStorage.getItem("medusa_cart_id");

[2022-10-25 02:49] aryabyte21 opened #2494 "Thanks for the submission. Does this display products from a Medusa instance? It seems they are hardcoded."
Thanks for the submission. Does this display products from a Medusa instance? It seems they are hardcoded.

_Originally posted by @olivermrbl in https://github.com/medusajs/medusa/discussions/2280#discussioncomment-3950420_

It doesn't display products from the instance but its a good starter template that can be used with medusa to start a cross platform application in flutter. I came to know abo

[2022-10-25 02:50] aryabyte21 commented on #2494
I feel it would be great if I am able to add a starter template for flutter devs as well

[2022-10-25 05:52] neelshah2409 commented on #2293
Hey @shahednasser could you just help me where I could add this doc as I have prepared it but not getting the proper path where to attach them.

[2022-10-25 06:18] shahednasser commented on #2293
Hello @neelshah2409 , it should be put in `docs/content/add-plugins/algolia.md`

[2022-10-25 10:26] #2293 closed

[2022-10-25 11:15] chiubaca opened #2497 "`CreateProductInput` Type missing `external_id` ?"
## Bug report

### Describe the bug

I'm using Typescript and trying to apply an`external_id` property when adding a new product and noticing TS errors :

[code]

Is this perhaps just a mistyping in [CreateProductInput interface](https://github.com/medusajs/medusa/blob/7fdced0225f8892474e9cb90cbf1d658331105ef/packages/medusa/src/types/product.ts#L141) ?

### System information

Medusa version (inc

[2022-10-25 11:23] chiubaca commented on #2497
A quick fix here if so - https://github.com/medusajs/medusa/issues/2497

[2022-10-25 14:03] waveywaves opened #2499 "Investigate increasing Maintainer Productivity with Pull Requests Environments"
I would like to make life easier for Medusa maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) previews.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi)
Uffizzi is a Open Source full stack previews engine and is completely free for Medusa (and all open source projects). This will provide maintainers with previews of their PRs in the cloud, allow

[2022-10-25 15:59] meli-imelda opened #2500 "> * Project Name: Aurore"
_Originally posted by @itzomen in https://github.com/medusajs/medusa/discussions/2280#discussioncomment-3944923_

[2022-10-25 16:39] Nirzak commented on #2336
Is this issue still need to stay open? I am closing this as the matter is resolved.

[2022-10-25 16:39] #2336 closed

[2022-10-26 00:29] agdm commented on #2019
please close?

[2022-10-26 01:44] PyDeps opened #2501 "Project dependencies may have API risk issues"
Hi, In **medusa**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using

[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing API Error

[2022-10-26 18:07] haveamission opened #2504 "Saving multipe products in a row doesn't work via the create method."
## Bug report

### Describe the bug

Saving multipe products in a row doesn't work via the create method.

### System information

Medusa version (including plugins): 1.5.0
Node.js version: 14.x
Database: Postgres 14?
Operating system: MacOS Monterey

### Steps to reproduce the behavior

1. In a loop, populate an object
2. Save said object using the create method on the product service

### Expect

[2022-10-26 19:00] haveamission opened #2505 "Add create methods to each service"
**Is your feature request related to a problem? Please describe.**
I'd like create methods for more services - in particular, ProductType doesn't have one, and I want to programmatically create ProductTypes via an API.

**Describe the solution you'd like**
Create methods for each service/model.

[2022-10-26 19:26] #2505 closed

[2022-10-26 19:26] haveamission commented on #2505
Just realized that you can do this via saving on the product

[2022-10-26 19:51] edihasaj opened #2506 "Endpoint for types, add image support"
What do you think of creating a new endpoint for querying product types(categories) and adding some images and thumbnail to that so that we can query products by type and show that in the store?

I was thinking if creating a new plugin for this but since there is some existing model there I thought it would be better to change the core API. What do you guys think?

[2022-10-26 19:52] edihasaj commented on #2506
@srindom?

[2022-10-27 07:26] #1094 closed

[2022-10-27 07:33] olivermrbl commented on #2506
This is an excellent idea @edihasaj.

We could break this issue into two: creating a new endpoint for fetching product types and adding additional properties to the product type model. Though the latter might not be as straightforward as the former, as we have to rethink our db model, so my suggestion would be to start with the endpoint.

Let me know what you think :)

[2022-10-27 07:38] edihasaj commented on #2506
Okay, I agree with the plan. I'll jump on endpoint first 😊

[2022-10-27 10:22] #2500 closed

[2022-10-27 18:55] kasperkristensen commented on #2504
Closing this as it was resolved in our Discord.

[2022-10-27 18:55] #2504 closed

[2022-10-27 20:12] edardev opened #2509 "TypeError: cmd is not a function at @medusajs\medusa-cli\dist\create-cli.js:260:7"
### Describe the bug

When trying to run medusa develop get the following error:
TypeError: cmd is not a function
    at C:\Users\user\AppData\Roaming\npm\node_modules\@medusajs\medusa-cli\dist\create-cli.js:260:7

### Screenshots
![image](https://user-images.githubusercontent.com/21114220/198388913-c38b62b9-6986-4341-bf9d-56b6140f31fb.png)

[2022-10-27 20:32] guyromb commented on #1184
@ludovicjamet @klauss194 I am interested as well! Thanks

[2022-10-27 21:12] adrien2p commented on #2509
@carlos-r-l-rodrigues i am not the only one apparently

[2022-10-27 21:25] #2509 closed

[2022-10-28 23:05] haveamission opened #2510 "Allow saving multiple handles based on the same title by appending "-N""
**Is your feature request related to a problem? Please describe.**
I was trying to save multiple products for a product importation with a custom API. Due to similar titles on the products, this was throwing an error due to duplicate handle

**Describe the solution you'd like**
If there's a duplicate handle, increment it. So for example if you've got a product title like this:

"Product Title"

An

[2022-10-29 17:40] nicoestrada opened #2512 "Address Autocomplete + Embedded Shipping Location"
**Is your feature request related to a problem? Please describe.**
Implementing a shipping address autocomplete feature and adding an embedded map to the order confirmation page. Similar features are found in typical e-commerce platforms to improve conversion rates and other key metrics.

**Describe the solution you'd like**
To optimize the customer journey flow, an autocomplete feature of shippin

[2022-10-29 19:56] Edybee commented on #2295
Alright

Since I don't code, I'll just skip the competition.

Thanks

On Sun, Oct 16, 2022, 5:41 PM Nicklas Gellner ***@***.***>
wrote:

[2022-10-30 12:16] hckia commented on #446
I actually ran into this problem too, and it did mimic a CORs issue, and indeed the cause was no region_id. An alternative method that worked for me was to seed data in the backend after install (npm run seed) if you're doing this just for testing. I assumed that was already done, but it seems some important items were missing.

[2022-10-30 16:49] PizzaMyHeart opened #2513 "Order return requested in `medusa-plugin-sendgrid` does not work"
## Bug report

### Describe the bug

When creating an order return request on the store page, no email is sent via Sendgrid. Medusa throws the following error:
`An error occured while sendgrid was processing a notification for order.return_requested: retrieveDocuments must be overridden by the child class`.

The plugin works as expected for `order-placed-template` and `order-shipped-template`.

##

[2022-10-30 19:15] olivermrbl commented on #2513
Thanks for reporting this bug @PizzaMyHeart. It seems our manual fulfillment provider plugin does not implement `retrieveDocuments` defined in the fulfillment provider interface.

As this is manual fulfillment, the method in the provider should not hold any business logic, but merely return an empty array like so:
[code]

If you are up for the task, I'd love to accept a PR for it 💪

[2022-10-31 21:20] #2295 closed

[2022-11-01 08:25] #2393 closed

[2022-11-01 14:16] bhagatpratham commented on #2291
Hey, @Smartmind12 are you working on this?

[2022-11-02 06:15] SaadBazaz opened #2520 "Built-in support for Services"
**Is your feature request related to a problem? Please describe.**
A project I'm building; they sell products (e.g. car rims) and also services (e.g. car wash).

**Describe the solution you'd like**
A Service could be a special kind of "Product" which can **possibly** have:
- No quantity (or infinite quantity)
- Special dates/times (calendar) on which it's available (Like a booking/appointment)
-

[2022-11-04 01:05] yong-BCG opened #2542 "403 while listing collections via admin api endpoint"
## Bug report

### Describe the bug
* start admin UI, manually create a few collections
* open the **sqlite db** file, verify that the collections are created
* update the API token, (ref: https://docs.medusajs.com/api/admin/#section/Authentication)
[code]
* verify the api_token
[code]
* [BUG] unable to list collections with the token
[code]

* same with a python client
[code]

[2022-11-04 09:21] Coachonko commented on #1399
This. There are several services using the S3 API, there is no point in keeping the plugin Amazon S3-specific.

[2022-11-04 12:35] developer-diganta opened #2548 "Center footer content for small screen devices"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

![image](https://user-images.githubusercontent.com/65999534/199973745-f7306406-cb44-4b4d-8bd2-7f682a2e57b4.png)
The footer content can be centered for mobile devices. The space feels a bit extra on the right at present

[2022-11-04 13:07] NoahMLoomis commented on #2548
Hi, I'll take a look at this today

[2022-11-04 16:21] raukaute opened #2551 "Invalid Relation Items on Orders"
## Bug report

### Describe the bug

When clicking on customer in admin, the request to /admin/orders?[...]&expand=items returns HTTP 400. Checking the [code](https://github.com/medusajs/medusa/blob/a9c703d56c2678fb509af7f9e1fe2cb65f95ba9d/packages/medusa/src/api/routes/admin/orders/index.ts#L237-L238), _items_ does not seem to be part of any order related allowed relations.

### Steps to reproduc

[2022-11-05 19:59] edihasaj commented on #2506
@olivermrbl the endpoints for types are completed.

Can I continue by adding images and thumbnail properties to type object so that we have like a complete categorizing for showing them on store (in my case)?

<img width="374" alt="image" src="https://user-images.githubusercontent.com/34984294/200138731-e0012173-9f56-43c5-828a-005d021c13f0.png">

[2022-11-05 20:01] edihasaj commented on #2506
I am planning to add types management from admin panel here:
<img width="1037" alt="image" src="https://user-images.githubusercontent.com/34984294/200138798-b72488e2-6244-476c-a3b0-f16a707c77a4.png">

what do you think?

[2022-11-05 22:54] edihasaj opened #2554 "Endpoint for options, for filtering and stuff"
This feature is to modify the core to release two endpoints for querying the product options in order to display in the store as filtering, the reason is that to query all the products from the database just to get the options to show it's not good, so I thought about adding the endpoints.

@olivermrbl this is pretty much the same as #2506

[2022-11-06 07:50] SaadBazaz opened #2556 "Regex in CORS?"
**Is your feature request related to a problem? Please describe.**
I'm trying to deploy the storefront on Vercel, with the backend hosted on a custom server.

Since, during the build process, the frontend makes requests for static/server side, there are CORS errors which cause it to fail.

I want to temporarily set the CORS to **any** (i.e. *). Doesn't work.

**Describe the solution you'd like**
R

[2022-11-07 11:04] maielo opened #2558 "Initializing databaseTypeError: Class constructor DefaultNamingStrategy cannot be invoked without 'new'"
## Bug report

### Describe the bug

Can not start backend

### System information

Medusa version (including plugins): 1.6.1
Node.js version: 18.9.0
Database: development - default one - sql-lite
Operating system: Windows
Browser (if relevant): -

### Steps to reproduce the behavior

[code]

### Expected behavior

init database

### Screenshots

![image](https://user-images.githubusercontent.com/

[2022-11-07 14:45] shahednasser commented on #2291
@bhagatpratham are you interested in working on this?

[2022-11-07 16:17] magnusdr commented on #1651
I just recently disconnected a redis instance from our medusajs server in order to save hosting expenses, as we currently do not depend on any of the features redis enable. This caused OOM crashes for us as well.

Would be nice to have this resolved, as it can be quite cost saving, especially in a staging/preview environment.

[2022-11-07 19:27] edihasaj commented on #1879
This is awesome my man, I was thinking to do something like this, I really needed this one. Great job 🥳

[2022-11-08 13:24] thngdude commented on #1370
When referring to Q3 for variant images, does that mean it's currently WIP? Looking very much forward to this feature as well.

[2022-11-09 14:29] ashish-khoiwal commented on #1512
Hi,
I have been facing this same issue for a while now but am not able to get it resolved.
Can you tell me how you resolved this by **putting variable strings in quote** as what I can see, they are already in quotes, no?
eg. `const REDIS_URL = 'redis://localhost:6379';`

[2022-11-09 19:22] artkaas opened #2578 "Updating cart with Stripe paymentSessions fails"
## Bug Report

[code]
### Describe the bug

Updating cart, with Stripe payment sessions, fails with missing 'sessionData' variable.

The reasons for it being a typo in Stripe plugin code (stripe-provider.js) using _sessionData_ instead of _paymentSessionData_
https://github.com/medusajs/medusa/blob/master/packages/medusa-payment-stripe/src/services/stripe-provider.js#L306

### System information

[2022-11-09 19:40] olivermrbl commented on #2578
Solved in latest version. Please install `medusa-payment-stripe@latest` and try again :)

Closing for now. Let me know if the issue persist.

[2022-11-09 19:40] #2578 closed

[2022-11-10 08:11] srindom commented on #2556
Unfortunately, doesn't look like this is possible: https://stackoverflow.com/questions/18439340/using-a-regular-expression-with-cors

[2022-11-10 08:11] #2556 closed

[2022-11-10 09:11] SaadBazaz commented on #2556
The SO thread gives a pretty interesting solution. Plus, since Medusa is based on Express, there must be a package which handles this well.

Also, even * (ANY) would work for testing, but that doesn't seem to work either...

[2022-11-10 10:41] olivermrbl commented on #2556
I believe @adrien2p has built a potential workaround in #1935. @adrien2p have you test your changes in a prod. + local env?

[2022-11-10 11:06] adrien2p commented on #2556
I built this https://github.com/medusajs/medusa/pull/1935 which i tested locally and I think some community members tested the pr for their needs as well

[2022-11-10 11:10] SaadBazaz commented on #2556
Lgtm. When can we get this bros

[2022-11-10 12:23] olivermrbl commented on #2556
My apologies for the wording here @adrien2p. Did not mean to indicate that it was not the right implementation! 😅

@SaadBazaz Will be included in the next release coming out later this week or early next 👍

[2022-11-10 12:24] AregMatulyan opened #2585 "It is possible to create many fulfillments for a single item in the order"
## Bug report

### Describe the bug
When a new order comes with more than one item, I can create many fulfillments for a single item in the order using a manual fulfillment provider.

### System information

Medusa version: 1.4.1
Node.js version: v16.17.0
Database: Postgres 14
Operating system: MacOS
Browser (if relevant): Chrome

### Steps to reproduce the behavior

1. The customer buys 2 product

[2022-11-12 19:31] fcavalcantirj opened #2596 "Docs: Add a Note about running migrations when using PostgreSQL database"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

Following the tutorial (https://docs.medusajs.com/usage/configurations/) when I switched from **sqlite** to **postgres**, I get an error probably because the database is empty - no schema also, it was recently created

[2022-11-13 11:11] olivermrbl commented on #2585
Thanks for reporting this one @AregMatulyan. I've added it to the backlog 💪

[2022-11-13 14:01] LWJerri opened #2598 "401 error for `/store/customers/me`"
## Bug report

### Describe the bug

A get `401` error only for the `/store/customers/me` API endpoint.

![image](https://user-images.githubusercontent.com/50290430/201525570-080f4a2b-adf3-4df5-80a2-d9712d7f890f.png)

### System information

Medusa version (including plugins):
- medusa-payment-stripe: ^1.1.47
- @medusajs/medusa: ^1.6.0
Node.js version: v18.10.0
Database: PSQL
Operating system: WSL

[2022-11-13 16:00] olivermrbl commented on #2598
The endpoint requires customer authentication, so creating a customer and signing in on the storefront will resolve the "issue".

[2022-11-13 16:00] #2598 closed

[2022-11-13 20:17] edihasaj commented on #2506
<img width="925" alt="1" src="https://user-images.githubusercontent.com/34984294/201542516-fb901521-215e-4dbe-aa16-84c8250d254b.png">

Checkout [the admin changes](https://github.com/medusajs/admin/pull/766)

[2022-11-14 13:41] LWJerri opened #2601 "Error after Stripe payment"
## Bug report

### Describe the bug

After some of my purchases, I get a 500 error for the `/store/carts/cart_CART_ID/complete` API endpoint.

### System information

Medusa version (including plugins):
- medusa-fulfillment-manual: ^1.1.31
- medusa-payment-manual: ^1.0.16
- medusa-payment-stripe: ^1.1.45 (Have problem with ^1.1.46)

Node.js version: v18.10.0
Database: PSQL v14.2
Operating system:

[2022-11-14 15:18] EdiHadzic opened #2602 "Adding affiliate marketing to Medusa"
**The Idea**
I think it would be great idea to add affiliate marketing system to Medusa. So we can leverage this for better store performance and more sales.  Signed in users would be able to share their generated medusa link for other customers and would be able to get parts of profit from item sales.

**Flow**
-User creates an account and generates unique affiliate link for example www.mystore.c

[2022-11-14 19:06] olivermrbl commented on #2601
Issue is related to concurrent requests trying to complete the cart and it only happens when the webhook is enabled. We've added this one to our backlog with high priority. You can expect a fix EoW :)

[2022-11-14 19:08] olivermrbl commented on #2551
Fixed in an [Admin PR](https://github.com/medusajs/admin/commit/d42d294c3cc016d33a8b59d96dfd8b411955ed92) for now.

Though, we should def. allow for relations in our API. I've added an issue in our backlog, but I cannot guarantee when it will be included in a release.

[2022-11-14 19:20] olivermrbl commented on #2542
A 403 tells me that you are not allowed to access the resource, and I believe it is unrelated to Medusa. Will close for now - please let me know if the issue persists.

[2022-11-14 19:20] #2542 closed

[2022-11-14 19:21] #2501 closed

[2022-11-14 19:21] olivermrbl commented on #2493
Please open issue in the Gatsby starter repository.

[2022-11-14 19:21] #2493 closed

[2022-11-15 15:34] olivermrbl commented on #2462
We do not allow you to create collections as part of importing products. To achieve this, you should create all the collection beforehand and add them in your import file.

[2022-11-15 16:43] juansoler commented on #2462
Hi Oliver, I tried that and it didn't work. I tried in 1.6.0 version of
Medusa. It has changed?  I put in the import file at the columns collection
handle and collection title the corresponding data of a collection created
before but the items didn't created associated to that collection.

El mar, 15 nov 2022 16:35, Oliver Windall Juhl ***@***.***>
escribió:

[2022-11-16 14:18] nxy7 opened #2613 "Does medusa-js client export types?"
Hello, I've recently stumbled upon Medusa and I'm really impressed with it. I've had some problems with types tho and I don't think it's entirely my fault :P
Right now to use medusa types on frontend you need to have medusajs/medusa installed (and to my understanding it's package used on backend), maybe extracting types useful on frontend like 'Product' to other package would be good idea?

[2022-11-16 16:07] adrien2p commented on #2613
You are right and we are working on a RFC to extract them out of the core package 🙏

[2022-11-16 16:09] nxy7 commented on #2613
Sorry for pointless issue and thanks for answering :-)

[2022-11-16 16:09] #2613 closed

[2022-11-16 18:14] mysticaltech opened #2615 "SurrealDB support"
**Is your feature request related to a problem? Please describe.**

PostgresDB is universal however, it lacks document and graph capability, and also the ability to easily planet-scale.

**Describe the solution you'd like**

[SurrealDB](https://surrealdb.com/), one of the hottest [open-source](https://github.com/surrealdb/surrealdb) NewSQL DBs now, solves this completely. It supports SQL-like synt

[2022-11-16 22:52] LWJerri opened #2617 "`medusa user` CLI command create new member as `member` not as `admin`"
**Is your feature request related to a problem? Please describe.**
When the user uses the `medusa user -e example@example.com -p password` CLI command medusa generates a new user as `member`, not as `admin`. I think it's can produce some problems in the future.

**Describe the solution you'd like**
I think we can edit create user option and set the default role as `admin` for the CLI command.

[2022-11-17 01:08] spanwair commented on #908
DIFFERENT SOLUTION FOR THOSE ASKING FOR HELP WITH `medusa user ...`

for those who is getting error while running `medusa user ...`, just change your terminal folder to ./my-medusa-store and than run same script. Problem is that `medusa` script tryng to run some packages locally from deps and in medusa-admin/node_modules are missing those deps. Happy codding

[2022-11-17 03:42] AoiIsMine opened #2619 "Concurrency shopping may cause database transactions to be 'idle in transaction'"
## Bug report

### Describe the bug

Concurrency shopping  may cause database transactions to be 'idle in transaction'
### System information

Medusa version (including plugins): medusa 1.6.3, medusa-extender 1.7.7
Node.js version: 14.16.0
Database: PostgreSQL 10.4
Operating system: windows 10
Browser (if relevant):

### Steps to reproduce the behavior
jmeter:
1. Thread 50
2. post /store/carts (cr

[2022-11-17 13:47] aaculp opened #2622 "Docs(Code Issue): Code Issue in /add-plugins/spaces"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

Following the steps provided in https://docs.medusajs.com/add-plugins/spaces#nextjs-storefront-configuration I added to next.config.js and NEXT is complaining that  "withStoreConfig" is not defined but when trying to i

[2022-11-17 20:45] raukaute commented on #2551
Thanks for the hotfix.

After seeing now that this is actually working in the admin demo I am wondering why the items relation was left behind (probably during the implementation of the AllowedAdminOrderRelations)? There is also a [documentation mismatch](https://docs.medusajs.com/api/admin/#tag/Order/operation/GetOrders).

Thanks again for providing the fix for now. Let me know if I can help with

[2022-11-18 07:29] AoiIsMine commented on #2619
@olivermrbl 😭

[2022-11-18 09:34] SGFGOV opened #2626 "Filename coventions."
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

Can you please explicitly state the filename conventions. As module resolution is dependent on it.
For example, a service shouldn't have the word "service" appended to the name.
Filenames can have only "-" no "." else

[2022-11-18 09:39] adrien2p commented on #2626
The file name convention for services (as an example) will be test.ts and be registered as testService. If you are not sure about what to resolve you can import the formatRegistrationName utility and pass the path to the file and it will give you the right resolution key. It is not perfect though but it can help you 👍

[2022-11-18 09:47] AregMatulyan opened #2627 "refund_created event not implemented"
When Admin does a payment refund, it triggers an event "order.refund_created".
But in the SendGrid plugin that functionality is missing.
<img width="758" alt="Screenshot 2022-11-18 at 10 43 33" src="https://user-images.githubusercontent.com/17296862/202671508-38a3c234-ef15-41ee-b13e-b3b363916f39.png">
<img width="800" alt="Screenshot 2022-11-18 at 10 43 51" src="https://user-images.githubuserconte

[2022-11-18 09:48] olivermrbl commented on #2619
@AoiIsMine We are currently wrapping up a couple of PRs (#2612) that might resolve your issues.

We will get back asap with our findings 👍

[2022-11-18 10:08] olivermrbl commented on #2627
Thanks, this would be a great addition.

Happy to accept a PR for it. The implementation is quite straight forward as it should follow the same pattern as with [other email templates](https://github.com/medusajs/medusa/tree/master/packages/medusa-plugin-sendgrid).

[2022-11-18 10:48] AoiIsMine commented on #2619
@olivermrbl ,Thank you for your reply
I don't know 2612(split shopping to little step) is useful to solve this problem.
You can try replay the problem, it look like transaction not commit or rollback,so other transaction is wait for lock release.
may be transaction started before it was commit.
may be transaction error abort not yet stop then begin agin.
i don't know real reason,i hope your can fi

[2022-11-18 13:20] jimmysafe opened #2629 "Stripe automatic payment capture does not update the order payment status."
## Bug report

### Describe the bug

When set to `automatic`, medusa-payment-stripe plugin does not update order payment status accordingly.

### System information

Medusa version (including plugins): Medusa version (including plugins): medusa (1.6.3), medusa-payment-stripe (1.1.45), nextjs-starter-medusa (latest)
Node.js version: 16.15.1
Database: postgres
Operating system: MacOS Monteray
Browse

[2022-11-18 18:36] a-finocchiaro opened #2633 "Concurrent user and admin sessions causes unauthenticated access to other accounts"
## Bug report

### Describe the bug

This is a bug with how `req.session` behaves when a user has authenticated as an admin and a customer on the same browser. The jwt holds the authenticated user's ID and the authenticated customer's ID. When a user is authenticated, `req.user` has a `userId` that equals the ID of the authenticated user. Similarly, when a customer is authenticated, `req.user` has

[2022-11-18 20:42] RalphSaridar55 opened #2634 "Error in creating region, exactly in the countries property"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

whenever I try to create a region, it always fails because key countries has typeof  `Array<String>`

### How can this issue be resolved?

countries should be of type `Array<Object>`

such as:
[code]

### Are you inter

[2022-11-19 16:51] amirping opened #2636 "Docker build fail for npm install"
## Bug report

### Describe the bug

Building the  docker file will fail because of the nom installation step.

`RUN npm install -g npm@latest` will try to install the last version of node, which not compatiable with the node version used in the dockerfile '17.1.0'
to fix it u need to update the dockerfile and change
`RUN npm install -g npm@latest`
with
`RUN npm install -g npm@8.1.2`

### System i

[2022-11-20 07:44] devsamuelv opened #2638 "node module flag for cli"
**Is your feature request related to a problem? Please describe.**
I have an issue with the medusa cli I have a medusa server project included in a turbo repo project, however because of how turbo repo handles project dependencies they are all located in one central node_modules directory however because its not where medusa expects it I can't use `medusa develop` which depends on babel from node_

[2022-11-21 09:25] flashjames commented on #2055
@olivermrbl how would you recommend about implementing localization right now?

I'll be building a beauty store on medusa and right now I'm figuring out how to do localization - and I could use some guidance
I figured I can write a blog post on this for you, since I'm solving it for myself. But I have some questions how to do it right
I found an issue here about it (: https://github.com/medusajs/m

[2022-11-21 09:45] olivermrbl commented on #2636
Thanks for reporting @amirping. We'd be happy to accept a PR, if you are up for it :)

[2022-11-21 10:43] amirping commented on #2636
Hello @olivermrbl , done :D.

[2022-11-21 13:50] 204050 opened #2643 "Docs(Code Issue): Code Issue in 'Override Price Selection' Page"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/medusajs/medusa/issues

### Issue Summary

I have found two issues:

1. In section **1** the example injects a ProductService with the name `productsService`, however the `productsService` does not exist. I think it should be `productService`.
2. When injecting

[2022-11-21 14:10] flashjames opened #2644 "Docs(local-development): Getting started with local development of medusa (core/backend) - Not updating change made to medusa"
**Is your feature request related to a problem? Please describe.**
Make it easier to understand how to get changes made to local https://github.com/medusajs/medusa/ to propagate to own medusa backend.

I'm getting familiar medusa to implement localization for my own project.

And to familiarize myself I needed a local develop enviroment.
https://docs.medusajs.com/usage/local-development was of hel

[2022-11-21 16:38] jbeckton commented on #2633
wow, I wonder what other security flaws medusa has?

[2022-11-21 17:32] olivermrbl commented on #2633
@a-finocchiaro Highly appreciate the elaborate description of the issue as well as the reproducible steps!

We'd be more than happy to accept a PR for this - the sooner, the better 💪

In regards to session handling, we will discuss it internally and get back to you as soon as possible. Until then, I think we should aim to push a (potentially temporary) fix to eliminate the security concern immedia

[2022-11-21 17:42] a-finocchiaro commented on #2633
@olivermrbl no problem at all! Let me know too if your team has any questions when you all discuss it.

I will put something together and get a PR written for you all to review in the meantime to mitigate the security concern.

Thanks for the response!

[2022-11-21 18:11] olivermrbl commented on #2633
@a-finocchiaro Deleting this issue for security reasons. Can I get you to reach out on Discord or email for follow up discussion?

[2022-11-21 18:11] #2633 closed

[2022-11-22 08:24] denerFernandes commented on #2644
Hi @flashjames, yesterday I also started studying jellyfish with the same goal. And I agree with you, the way this is done is unclear, moreover the medusa-dev cli copies the files to the server's node-modules, but the server watch doesn't look at the node_modules.

Off Topic: Can you tell me how you think about implementing localization, I have the same goal.

[2022-11-22 08:35] flashjames commented on #2644
@denerFernandes  I'll be working on localization today, think I figured out how to do it in a clean way yesterday, without making changes to core medusa. Will update when I've written enough code.

[2022-11-22 08:55] saurabh-lohiya commented on #2596
Please refer to this post. The syntax varies in _postgres_ for selecting the current time.

**https://www.postgresqltutorial.com/postgresql-date-functions/postgresql-now/**

[2022-11-22 09:39] pKorsholm commented on #2636
Closing this as I've merged the pr, thanks again for your contribution @amirping 😄

[2022-11-22 09:39] #2636 closed

[2022-11-22 16:34] nicolama-dev commented on #2551
@olivermrbl  do you plan to re-allow the relation "item" for this API call in the future versions of the medusa-server ?

[2022-11-22 18:16] olivermrbl commented on #2551
@nicolama-dev Yes indeed! We have plans to align allowed + default relations across all endpoints, though it is not a high priority compared to other projects in our roadmap.

Happy to elaborate on the feature and accept a PR for it if anyone is up!

cc @raukaute

[2022-11-22 18:43] adrien2p commented on #2619
Hey there, i believe that it should be resolved by the latest perf improvements and later on by the improvements will make on the transaction management. Already, the perf improvements will allow the transactions to be released quicker an therefor will not hold a lock for a an extended period of time. Let us know when the release come out.

Ps: depending on the number of concurrency you are expect

[2022-11-22 19:46] Anan-Saadi opened #2654 "error: Not authorized to list orders"
## Bug report

### Describe the bug

when I navigate to orders page in account, I get `error:   Not authorized to list orders`

full log:
[code]
### System information

Medusa version : 1.6.0
Node.js version: 16.13.0
Database: postgres
Operating system: windows
Browser : chrome

### Additional context
I am using docker server with all default settings

[2022-11-22 19:52] mmarinovic opened #2655 "store/products endpoint can't load more then 21 items in id array"
## Bug report

### Describe the bug

Store products endpoint can't load when query params have more then 21 items in `id` array.
Request fails with message:
[code]
Example of URL from next-js medusa starter is:
[code]

Above URL will work if you remove 1 item in id array.

This means the user can't purchase more then 21 items in a single cart because UI doesn't load.

### System information

Medus

[2022-11-23 07:02] LWJerri commented on #2654
It's also happens when you already authorized.

[2022-11-23 09:36] adrien2p commented on #2465
@rrums123 I believe that once this pr will have been reviewed and validated it should fix your issue https://github.com/medusajs/medusa/pull/2648

[2022-11-23 09:51] rrums123 commented on #2465
@adrien2p that's a very good news! thank you!

[2022-11-23 17:26] durdenx opened #2657 "[CORE-901] Medusa js client missing order parameter"
## Bug report

### Describe the bug

The order option doesn't exist on the medusa js client for some endpoints (products.list in this case) :

[code]

Could you regenerate the client or something?

### System information

Medusa version (including plugins):

- "@medusajs/medusa": "^1.6.4",
- "@medusajs/medusa-js": "^1.3.3",
- "@medusajs/medusa-cli": "^1.3.4",
- "medusa-fulfillment-manual": "^1.1.3

[2022-11-23 20:00] nazimboudeffa opened #2658 "Update turbo.json configuration file with the latest site url"
While reading the turbo documentation when trying to build medusa from source

I have found that in the `turbo.json` file at the root of the repo, the project uses `https://turborepo.org/schema.json` which should be  `https://turbo.build/schema.json` according to the actual docs on https://turbo.build/repo/docs/getting-started/existing-monorepo#create-a-pipeline

I don't know what will change as i

[2022-11-24 02:38] AoiIsMine commented on #2619
@adrien2p
Thank you for your reply.
I probably know what you mean.
Maybe releasing transactions faster and adding database connections can solve the current problem, but will it happen if you increase the concurrency?
The real reason is why the transaction does not continue to execute and there is no deadlock.
I have limited ability, i can't analyze the real reason.so come here for help.
Look forw

[2022-11-24 06:56] adrien2p commented on #2619
Deadlocks are another subject, it generally happen when two running transactions are tying to update the same data and both are waiting the other transaction to be released before being able to commit.

Also, long running transactions can end up holding lock for an extended period of time and make it easier to have concurrent transactions trying to update the same data. E.g it is a fake one but ju

[2022-11-24 10:51] NitishGameChanges opened #2664 "Overriding Price Selection strategy doesn't work?"
## Bug report

### Describe the bug
A clear and concise description of what the bug is.

Trying to override price selection strategy,
Created a file in src/strategies
and wrote code like
this.
However, calculateVariantPrice is not being called.
What to do?

### System information

Medusa version (including plugins): -
 "medusa-extender": "^1.7.4",
    "medusa-file-minio": "^1.0.4",
    "medusa-fil

[2022-11-24 11:47] olivermrbl commented on #2657
Thanks for reporting this. We will attend to it in the near future 💪

[2022-11-25 09:32] olivermrbl commented on #2664
Thanks for reporting this. We'll make sure to attend to this asap and get back :)

cc. @pKorsholm

[2022-11-25 11:47] AoiIsMine commented on #2619
@adrien2p
Thank you for your patient answer.
I see what you mean. I may limit concurrency.
But I still don't know the real reason. I made a simple test:
begin; a update x row; wait(do nothing); state is idle in transaction.
begin; b update x row; state is activity.
a commit, b will continue.
if b do select,and wait(do nothing); state is idle in transaction.
Picture above error is that all transact

[2022-11-25 12:07] adrien2p commented on #2619
the transaction can be idle for multiple reasons:
If in your transaction block you do the following:

- SELECT * FROM user
- js loop for post-processing
- return users

here, you should see it like the following:

- **START TRANSACTION**
  - SELECT * FROM user
  - js loop for post-processing
  - UPDATE user SET ...
  - return users
- **COMMIT**

Basically, the transaction is committed once everyth

[2022-11-25 13:44] NitishGameChanges opened #2669 "get cart api not providing product option and product options values"
## get cart API not providing product option and product options values

### I am expecting the product options and product options values to come in the variants

### System information

Medusa version (including plugins): 1.3.1
Node.js version: v16.17.0
Database: postgrsql@14
Operating system: Mac
Browser (if relevant):

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. S

[2022-11-25 15:28] isaachinman commented on #769
Been quite awhile since this issue was opened – any update?

I'm also attempting to add Medusa to an existing application (Node/Express/Prisma/Postgres), and the functionality described here is absolutely essential.

I imagine that most existing production applications are not able/willing to create a completely separate Medusa service, as that increases operational complexity and splits business

[2022-11-25 16:46] dwene commented on #769
Hey @isaachinman

As far as I know, this issue is still unresolved. I was also attempting to add Medusa to an existing nest/express/prisma service. In the end for this particular client, I found it was easier to just treat Medusa as a microservice, and create a new database in the same postgres server for Medusa.

Alternatively, if your existing application isn't too terribly large, you can migrat

[2022-11-25 21:18] magnusdr opened #2671 "Several fields disappeared from `order.items` after upgrading v1.6.4 -> v1.6.5 🐞"
GET request to `/store/orders/:id` returns different data structure after upgrading to v1.6.5.

Here's a `git diff` after dumping the same object from `/store/orders/:id` before and after the upgrade:

[code]

### Expected behavior
As this is just a patch and not a minor release of MedusaJS, I would expect no deprecations in the API.

[2022-11-25 21:38] srindom commented on #2671
Thanks for reporting this is definitely a bug. We'll make sure to expedite a fix.

Cc: @adrien2p

[2022-11-25 22:46] adrien2p commented on #2671
@magnusdr @srindom thanks for reporting it 👌 it has already been merged 2 days ago and will be available in the next release

[2022-11-26 01:45] santbob opened #2672 "Installation failure on Getting Started- Storefront NextJS"
## Bug report
Issue with following Getting Started for StoreFront (NextJs)

### Describe the bug

i followed the getting started guide and tried to install the NextJs version of the Storefront https://docs.medusajs.com/starters/nextjs-medusa-starter

The result is an error

[code]

### System information

Medusa version (including plugins):
Node.js version: `v16.18.1`
Database: `sqlite3`
Operating

[2022-11-26 02:57] anand-010 opened #2673 "Thirdparty or Verified authentication for storefront clients."
I am a newbie and trying to implement medusajs but on the documentation the only authentication method for client users is email password and uses no email verification or forgot password methods.
Integration with Aws cognito, Firebase or Auth0 is the best methods to do it quickly.
A customisable function, module or plugin on ther server to verify jwt token from firebase or others and load informa

[2022-11-26 04:09] santbob commented on #2672
Installing `sqlite3` manually helped, can we fix the launch to install without having to doing it manually

[2022-11-26 14:56] olivermrbl commented on #2672
Thanks for reporting this one!

The Next.js starter depends on our core `@medusajs/medusa` for types, and that package is shipped with `sqlite` to allow for an easy setup.

As we speak, we are working on separating types from the core to avoid having to depend on our engine in storefront projects. This is the ideal case, and we hope to be able to introduce it soon, instead of having to modify our

[2022-11-26 14:56] #2672 closed

[2022-11-26 14:57] olivermrbl commented on #2671
Resolved in #2667

[2022-11-26 14:57] #2671 closed

[2022-11-27 05:42] JanieHuang opened #2674 "Square Payments Integration"
**Is your feature request related to a problem? Please describe.**
I want to be able to integrate and use Square payments as a plugin.
https://developer.squareup.com/reference/square/payments-api

**Describe the solution you'd like**
A plugin to use Square payments. Basically the stripe plugin, but for Square

**Describe alternatives you've considered**

**Additional context**
I have a POS with Sq

[2022-11-27 18:59] InderdeepBajwa opened #2675 "[BUG]: Product image upload for thumbnail and media errors out every time"
## Bug report

### Describe the bug

When uploading thumbnail and media images for products in the new React admin panel, it errors out every time. This is tested in correctly setup S3 and Minio plugin. I have a workaround listed below that fixes it.

### System information

Medusa version (including plugins): 1.3.3 (Not the cause of this bug)
Node.js version: v16 (Not the cause of this bug)
Datab

[2022-11-27 19:00] InderdeepBajwa commented on #2675
My apologies, this was meant for `medusajs/admin`

[2022-11-27 19:00] #2675 closed

[2022-11-27 22:31] robertomlj opened #2676 "File upload error when trying to create a new product by medusa-admin"
I've installed and configured the medusa-file-s3 plugin for file uploads, and whenever I try to create a new product, I get the following browser error:
<sub>Error
Something went wrong while trying to upload images. You might not have a file service configured. Please contact your administrator</sub>

in the browser console I get the error:
<sub>POST http://localhost:9000/admin/uploads 500 (Intern

[2022-11-28 01:35] InderdeepBajwa commented on #2676
Duplicate of https://github.com/medusajs/admin/issues/815

[2022-11-28 07:37] anle1991 commented on #908
got the same error on node 19.1.0

[2022-11-28 07:46] anle1991 commented on #908
ok resolved it by creating the User in the Store Server folder

[2022-11-28 08:00] userdehghani opened #2677 "TypeError in telemetry in-memory-config util"
## Bug report

### Describe the bug

TypeError whenever deploy to read-only containers.

### System information

Medusa version (including plugins):

[code]

Node.js version: 14, 16, 18

Database: PostgreSQL 14.5

### Reproduce

run read-only node.js container and deploy medusa app.

### Logs

[code]

[2022-11-28 09:15] shahednasser commented on #2643
Thanks for reporting this! @204050 Will make sure this issue is resolved 👍🏻

[2022-11-28 10:13] olivermrbl commented on #2677
This issue was recently resolved (#2574). Can I get you to upgrade to the latest version and try again?

Closing until then :)

[2022-11-28 10:13] #2677 closed

[2022-11-28 10:14] #2676 closed

[2022-11-28 10:25] pKorsholm commented on #2664
on it 😄

[2022-11-28 10:43] pKorsholm commented on #2664
Hi @NitishGameChanges

It seems to be working on my end, so lets see if we can't figure out what happens 😄

I have a couple of follow up questions
- Have you built your project? Strategies are loaded from the `dist/` files and if the strategy is not built it's not loaded
- How do you hit the product endpoints of medusa ?
- What does your console output look like when hitting one of the `store/prod

[2022-11-28 11:31] NitishGameChanges commented on #2664
Medusa version is - 1.3.1
Have you built your project? Strategies are loaded from the dist/ files and if the strategy is not built it's not loaded - yes,
my dist folder looks like
![Screenshot 2022-11-28 at 4 28 51 PM](https://user-images.githubusercontent.com/111432622/204267007-17c10256-a28c-429e-a593-7c573470d14d.png)

How do you hit the product endpoints of medusa ? : Get - http://localhost:90

[2022-11-28 12:19] pKorsholm commented on #2664
Medusa at version 1.3.1 didn't support overriding the price selection strategy, only tax calculation strategy.

price selection strategy overriding was introduced in version 1.3.3.

Medusa is now at 1.6.5 though and I would encourage you to update to keep up with all the amazing features coming out 😄

[2022-11-28 12:19] #2664 closed

[2022-11-28 13:55] NitishGameChanges commented on #2664
Thanks @pKorsholm

[2022-11-28 14:13] srindom commented on #2674
Hi @JanieHuang - there is currently no timeline for adding Square payments to the official plugins. That said, it is easy to create a payment provider for Medusa if you (or someone else) are up for it, I would recommend that you build it.

There is a guide to building payment plugins here: https://docs.medusajs.com/advanced/backend/payment/how-to-create-payment-provider/

I will be happy to do a r

[2022-11-28 14:37] chemicalkosek opened #2682 "Updating a shipping_address or billing_address field erases country_code"
## Bug report

### Describe the bug

When updating either shipping_address or billing_address field it also makes `country_code` `null`

### System information

Medusa version (including plugins): 1.6.4

### Steps to reproduce the behavior

1. Create a cart
2. Update shipping_address.country_code and first_name
[code]
3. Update shipping address last_name
[code]
4. See `country_code` being `null` i

[2022-11-28 15:47] shahednasser commented on #2644
Thank you for reporting this @flashjames I'll make sure we add the necessary information regarding the watch command in our documentation!

[2022-11-29 00:00] dwene opened #2685 "/store/auth API appears to always give "Unauthorized" after updating to 1.6.5"
## Bug report

### Describe the bug

After updating to v1.6.5, the /store/auth api now always gives Unauthorized, even if I have the seemingly correct cookie in place. I was able to replace that API with `/store/customers/me` which works great, but I thought y'all might like to know :)

### System information

Medusa version (including plugins): 1.6.5
Node.js version: 16
Database: Postgres
Operati

[2022-11-29 07:55] josetr opened #2686 "Draft order email should be optional"
**Is your feature request related to a problem? Please describe.**
I want to make an anonymous sale, in-person, where the customer may not want to provide an email.

**Describe the solution you'd like**
Draft order API shouldn't require an email

[2022-11-29 08:21] shahednasser commented on #2634
Hi @RalphSaridar55 thank you for opening this issue. As mentioned in the [API reference](https://docs.medusajs.com/api/admin/#tag/Region/operation/PostRegions), countries is an array of the 3 character ISO code. So, instead of passing the entire object of a country, just pass the value in `iso_3`.

I'll close this issue for now. Let me know if you have any questions 🙂

[2022-11-29 08:21] #2634 closed

[2022-11-29 08:24] shahednasser commented on #2626
Hi @SGFGOV the naming convention is mentioned both in the [Services](https://docs.medusajs.com/advanced/backend/services/overview/#what-are-services) and [Create a Service](https://docs.medusajs.com/advanced/backend/services/create-service#implementation) documentations. However, it might be worth adding a sub-heading for naming convention to make it clearer.

I will close this for now. Thanks!

[2022-11-29 08:24] #2626 closed

[2022-11-29 08:27] shahednasser commented on #2596
Hi @fcavalcantirj thanks for reporting this! It might be worth indicating in the Configure your Server documentation a note on running migrations first when switching to postgres. I'll change the title of this issue to reflect that and open it for contribution.

As for importing the sqlite database to postgres, I think this is out of the scope of the project and this issue in particular.

[2022-11-29 08:30] shahednasser commented on #2548
Thank you @developer-diganta for reporting this but at the moment we are not planning on making changes to this.

[2022-11-29 08:30] #2548 closed

[2022-11-29 08:31] #2354 closed

[2022-11-29 10:21] durdenx opened #2688 "`q` parameter not working from the product endpoint with sales channels enabled"
## Bug report

### Describe the bug

When i use the `q` (search) parameter from the product endpoint with sales channels enabled i get the following error:

[code]

### System information

Medusa version (including plugins):

- "@medusajs/medusa": "^1.6.4",
- "@medusajs/medusa-js": "^1.3.3",
- "@medusajs/medusa-cli": "^1.3.4",
- "medusa-fulfillment-manual": "^1.1.31",
- "medusa-interfaces": "^1.3.

[2022-11-29 10:23] srindom commented on #2688
Hi @durdenx, can you check that you have run your migrations after enabling the sales channels feature flag?

[code]

[2022-11-29 10:30] durdenx commented on #2688
Hi @srindom,

Yes i have run migrations. `sales_channel` and `product_sales_channel` tables have been created in the database.

Btw filtering from the sales_channel_id seems to work.

[2022-11-29 10:32] olivermrbl commented on #2686
Thanks for filing this issue @josetr. It is an excellent suggestion. Will make sure to add it to our backlog.

Also, happy to accept a PR for it 💪

[2022-11-29 12:54] #2643 closed

[2022-11-29 13:21] Arsenalist opened #2690 "Stripe hangs in store front showing spinner"
The Stripe widget where the credit card form is supposed to appear just hangs as seen below.

My server package.json:

[code]

My Region configuration:

![image](https://user-images.githubusercontent.com/76740/204538175-d8c109e2-3418-4bc1-9818-c2fbdc31f66f.png)

What I see in storefront:

![image](https://user-images.githubusercontent.com/76740/204538223-c9d39d7d-d6d1-4fc0-9090-4afa3d255d9c.png)

[2022-11-29 13:42] robertomlj opened #2691 "Error: Network Error starting medusa storefront nextjs service"
I installed medusa storefront nextjs, updated all the packages, made all the necessary settings in next.config.js and store.config.js, but whenever I start the service, I receive the following error in the browser:

![1](https://user-images.githubusercontent.com/53835386/204356018-623bcbd4-b683-4851-b995-ab93ea922d34.png)

Errors in browser console:

![2](https://user-images.githubusercontent.com/

[2022-11-29 13:55] chemicalkosek commented on #2691
You have forgot to remove the issue number from starter repo issue 😉

Can you `console.log(STORE_CORS)` inside medusa-config.js and see what it prints

[2022-11-29 14:02] robertomlj commented on #2691
![Captura de tela de 2022-11-29 10-02-33](https://user-images.githubusercontent.com/53835386/204549431-ff5db4f5-e26a-4be1-a922-25d66331a818.png)

[2022-11-29 14:17] chemicalkosek commented on #2691
Looks good. Are you running this in some VM or docker?

[2022-11-29 14:36] robertomlj commented on #2691
I don't know what could have happened, but I had to restart my machine and as soon as the system booted, the error just disappeared!!!!

![Captura de tela de 2022-11-29 10-36-20](https://user-images.githubusercontent.com/53835386/204557751-5a2dc832-ca1e-4593-bdc5-052d7fa44712.png)

[2022-11-29 14:37] diselostudio opened #2693 "`medusa-file-s3` plugin fails on `export-orders` Batch Job"
## Bug report

### Describe the bug

Hi there 👋
I've installed the `medusa-file-s3` plugin into my eCommerce and set up to work with my Amazon account. Right after that I've tested it by editing some products media and all good there, I got the proper assets on the bucket. But when running actions that trigger a batch-job I get an error reading:

`"code":"unknown","message":"Please add a file serv

[2022-11-29 14:41] olivermrbl commented on #2693
@diselostudio I can't seem to reproduce your issue.

Have you installed the S3 plugin in your `medusa-config.js` ?

[code]

[2022-11-29 14:52] diselostudio commented on #2693
Hi @olivermrbl thanks for your quick response.
Yes, did all the steps and have the configuration running and already working for other uploads. The thing is that I get the same error on any service extending AbstractFileService.

Is there any way to debug dependencies that get injected on the batch-job process ?
Thanks

[2022-11-29 15:17] chemicalkosek commented on #2691
Great, close both issues then :)

[2022-11-29 15:36] pKorsholm commented on #2693
Hi @diselostudio

I think you might be running an older version of the s3 plugin from before the necessary operations for batch jobs were implemented, which happened in version 1.1.6.

Can you verify that the `medusa-file-s3` version you are running is either 1.1.6 or newer (1.1.7 is the latest release)?

[2022-11-29 16:00] diselostudio commented on #2693
Hi @pKorsholm yes, I do have `"medusa-file-s3": "^1.1.7"` on my package.json. As said before, this is happening on any Service extending the AbstractFileService.

[2022-11-29 18:10] docimin opened #2698 "Add Multi-Vendor feature"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add the ability to allow (Multi-)Vendors to sell Digital & Physical products, the ability for them to create shipment tracking (DHL, USPS etc.), as well as automatic transfers (payments) through Stripe Connect & PayPal.

[2022-11-29 19:36] jonjahr commented on #908
FWIW I ran into this error too when setting up MinIO.  TLDR I think it's a conflict with yarn v3+.  I fixed the error by undoing the `yarn add` and re-installing with `npm`.

Steps to reproduce:  (MacOS and node v16)

* Fresh install with `medusa new ...`
* Run `yarn add medusa-file-minio` (with yarn v3.2.3)
* Per [guide](https://docs.medusajs.com/add-plugins/minio), add MinIO stuff to `.env` and

[2022-11-30 09:42] olivermrbl commented on #2693
@diselostudio Can I get you to try the following:
- Delete `/dist` folder in your own project
- Remove your custom abstract file service
- Install latest `@medusajs/medusa` + `medusa-file-s3` (sounds like you've already done this)
- Attempt to export orders once more

[2022-11-30 09:45] #2691 closed

[2022-11-30 09:48] olivermrbl commented on #2673
Closing this in favor of this Discussion touching upon the same topic.

We are planning to scope an authentication abstraction soon, that will allow you to seamlessly add other authentication strategies than the one shipped as default.

[2022-11-30 09:48] #2673 closed

[2022-11-30 09:49] #2685 closed

[2022-11-30 09:59] olivermrbl commented on #2682
Thanks for reporting this one! Fix coming in #2683

[2022-11-30 10:00] olivermrbl commented on #2654
@Anan-Saadi Did you try out the pre-release?

In the meantime, I'll close the issue. Please do not hesitate to re-open if the issue persists.

[2022-11-30 10:00] #2654 closed

[2022-11-30 10:24] josetr opened #2703 "yarn install link step fails on Windows 10/11/WSL"
## Bug report

### Describe the bug

Running `yarn install` after cloning the repo fails with error
[code]
### System information

Medusa version: 1.6.5
Node.js version: v16.15.0
Operating system: Windows 10/11 (tried both versions)

### Steps to reproduce the behavior

1. clone repo
2. run `yarn install`

[2022-11-30 10:44] olivermrbl commented on #2703
Thanks for reporting this. We'll investigate and get back asap :)

[2022-11-30 10:55] AoiIsMine commented on #2619
@adrien2p
Thank you for your reply.
Maybe I didn't describe my problem well. I can't understand your explanation.
your mean is large transactions contain many small transactions,that's why happen idle in trasaction?

[2022-11-30 11:06] adrien2p commented on #2619
What I meant is that an idle transaction can, among other thing, indicate that a transaction (start with begin) has been opened, but nothing is happening. This can be link to the fact that in a transaction block we have the queries but also some other actions not related to the database. In other word, between 2 queries in a transaction block, if nothing is happening the transaction become idle. S

[2022-11-30 11:40] AoiIsMine commented on #2619
@adrien2p
oh,i see. but i think my problem is not what you said.
your example will wait some time, but it will continue do someting.
my example always idle in transaction,these transaction why not conitnue or rollback or do something.

[2022-11-30 11:42] adrien2p commented on #2619
In that case it can also be a lock, but you can see that by querying the locks to see if there is some deadlocks. Otherwise indeed only the timeout will release them

[2022-11-30 11:45] AoiIsMine commented on #2619
@adrien2p
yeap,at the first i think happen deadlock,but i try deadlock sql, db will throw error(because db configure deadlock timeout)
but project not throw deadlock error,so i don't konw these transaction why not continue

[2022-11-30 11:52] AoiIsMine commented on #2619
The project throws some errors during concurrency:
eg: Query runner already released. Cannot run queries anymore,
ERROR: could not serialize access due to read/write dependencies among transactions
(but i think db will do rollback)